In [1]:
#imports
import math
import random
import pandas as pd
import numpy as np
import os
import networkx as nx

In [2]:
data = pd.read_excel("Raw_Data/0120.xlsx", engine="openpyxl" ,header=2,index_col=0)

In [3]:
data

,CITY 1,CITY 2,PASSENGERS \nTO CITY 2,PASSENGERS \nFROM CITY 2,FREIGHT \nTO CITY 2,FREIGHT \nFROM CITY 2,MAIL \nTO CITY 2,MAIL \nFROM CITY 2
S.No.,,,,,,,,
1,ADAMPUR,DELHI,2198,2248,0,1.33947,0,0
2,AGARTALA,BENGALURU,4294,4607,0.02,4.251,0,0.862
3,AGARTALA,CHENNAI,2320,1373,0.1,0.771,0,0.482
4,AGARTALA,COIMBATORE,-,5,-,0.004,-,0
5,AGARTALA,DELHI,5467,5823,1.59,19.371,1.002,6.683
...,...,...,...,...,...,...,...,...
538,VIJAYAWADA,VISAKHAPATNAM,2419,2196,0.02015,1.4065,0,0
SUB TOTAL,NaN,NaN,6348701,6398890,29749.5,28587,1306.03,1304.14
TOTAL,NaN,NaN,12747591,NaN,58336.4,NaN,2610.17,NaN
"Note: City pair wise domestic freight and mail traffic statistics are not provided by Alliance Air for the month of January, 2020 and same are not included in the table.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
class Graph:
    """
    Implementation of an Weighted, Directed Graph using a matrix
    (Assuming no self loops, and 0 indexing) 
    (Valid only for positive weights)
    """
    def __init__(self, vertices, graph=None):
        self.v = vertices
        if(graph == None):
            self.graph = [[0 for i in range(self.v)] for j in range(self.v)]
        else:
            self.graph = graph

    def add_edge(self, a, b, w):
        # edge directed FROM a TO b
        # w is the weight of the edge
        #method to add an edge
        self.graph[a][b] = w

    def __str__(self):
        return self.graph

    def degree(self, n):
        # returns the indegree and outdegree of node n
        # returns a tuple where first element is indegree, second element is outdegree
        indegree = 0
        outdegree = 0
        for i in range(self.v):
            if(self.graph[n][i] >= 0):
                outdegree += 1
            if(self.graph[i][n] >= 0):
                indegree += 1
        return (indegree, outdegree)

In [5]:
excel_list1 = os.listdir("Raw_Data")
excel_list = []

for i in excel_list1:
    if(i.endswith(".xlsx")):
        excel_list.append(i)

In [6]:
for i in excel_list:
    path = "Raw_Data/"+i
    excel = data = pd.read_excel(path, engine="openpyxl" ,header=2,index_col=0, usecols="A:E")
    print(excel)

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

               CITY1          CITY2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                  1142
2      AGATTI ISLAND      BENGALURU                   182
3      AGATTI ISLAND          KOCHI                   778
4               AGRA          DELHI                     0
5               AGRA      KHAJURAHO                   392
...              ...            ...                   ...
301         VADODARA      HYDERABAD                  1092
302         VADODARA        KOLKATA                   743
303         VADODARA         MUMBAI                 23156
304       VIJAYAWADA  VISAKHAPATNAM                   400
TOTAL            NaN            NaN               3790951

       PASSENGERS FROM CITY 2
S.No.
1                         854
2                         124
3                         729
4                          64
5                           0
...                       ...
301                      1056
302                         0
303                     23137
304                       272
TOTAL                 3829928

[305 rows x 4 columns]
              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   664
2      AGATTI ISLAND          KOCHI                  1138
3               AGRA          DELHI                     0
4               AGRA      KHAJURAHO                   444
5               AGRA       VARANASI                     0
...              ...            ...                   ...
308         VADODARA        KOLKATA                  1027
309         VADODARA        LUCKNOW                   276
310         VADODARA         MUMBAI                 28064
311       VIJAYAWADA  VISAKHAPATNAM                   936
TOTAL            NaN            NaN               4755290

       PASSENGERS FROM CITY 2
S.No.
1                        1234
2                        1084
3                          49
4                           0
5                        1054
...                       ...
308                         0
309                       197
310                     26540
311                       840
TOTAL                 4793322

[312 rows x 4 columns]
                    CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1                     AGRA          DELHI                     0
2                     AGRA      KHAJURAHO                   338
3                     AGRA         JAIPUR                   392
4                     AGRA       VARANASI                     0
5            AGATTI ISLAND          KOCHI                  1294
...                    ...            ...                   ...
424               TIRUPATI     VIJAYAWADA                   879
425             TRIVANDRUM        UDAIPUR                    13
426             VIJAYAWADA  VISAKHAPATNAM                  3773
TOTAL                  NaN            NaN               5706565
GRAND TOTAL            NaN            NaN              11448112

             PASSENGERS FROM CITY 2
S.No.
1                              56.0
2                               0.0
3                             265.0
4                             965.0
5                            1515.0
...                             ...
424                           894.0
425                             9.0
426                          3774.0
TOTAL                     5741547.0
GRAND TOTAL                     NaN

[428 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                   AGATTI ISLAND
4                                                   AGATTI ISLAND
5                                                            AGRA
...                                                           ...
510                                                      VADODARA
511                                                    VIJAYAWADA
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                       BENGALURU
4                                                           KOCHI
5                                                           DELHI
...                                                           ...
510                                                        MUMBAI
511                                                 VISAKHAPATNAM
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2332.0
2                                                                   1363.0
3                                                                    117.0
4                                                                   1561.0
5                                                                      0.0
...                                                                    ...
510                                                                23581.0
511                                                                 2381.0
SUB TOTAL                                                        6227644.0
TOTAL                                                                  NaN
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2307.0
2                                                                     1637.0
3                                                                      127.0
4                                                                     1622.0
5                                                                       30.0
...                                                                      ...
510                                                                  23412.0
511                                                                   2251.0
SUB TOTAL                                                          6241431.0
TOTAL                                                             12469075.0
Note: City pair wise domestic freight and mail ...                       NaN

[514 rows x 4 columns]
                                                        CITY 1         CITY 2  \
S.No.
1                                                      ADAMPUR          DELHI
2                                                     AGARTALA      BENGALURU
3                                                     AGARTALA        CHENNAI
4                                                     AGARTALA     COIMBATORE
5                                                     AGARTALA          DELHI
...                                                        ...            ...
538                                                 VIJAYAWADA  VISAKHAPATNAM
SUB TOTAL                                                  NaN            NaN
TOTAL                                                      NaN            NaN
Note: City pair wise domestic freight and mail ...         NaN            NaN
NaN                                                        NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    2198
2                                                                    4294
3                                                                    2320
4                                                                       -
5                                                                    5467
...                                                                   ...
538                                                                  2419
SUB TOTAL                                                         6348701
TOTAL                                                            12747591
Note: City pair wise domestic freight and mail ...                    NaN
NaN                                                                   NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      2248
2                                                                      4607
3                                                                      1373
4                                                                         5
5                                                                      5823
...                                                                     ...
538                                                                    2196
SUB TOTAL                                                           6398890
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN
NaN                                                                     NaN

[542 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   849
2      AGATTI ISLAND      BENGALURU                   116
3      AGATTI ISLAND          KOCHI                   754
4               AGRA          DELHI                     0
5               AGRA      KHAJURAHO                   426
...              ...            ...                   ...
306         VADODARA      HYDERABAD                   793
307         VADODARA        KOLKATA                   723
308         VADODARA         MUMBAI                 23505
309       VIJAYAWADA  VISAKHAPATNAM                   467
TOTAL            NaN            NaN               3726491

       PASSENGERS FROM CITY 2
S.No.
1                        1124
2                          79
3                         716
4                          52
5                           0
...                       ...
306                       733
307                         0
308                     20608
309                       404
TOTAL                 3717052

[310 rows x 4 columns]
              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                  1021
2           AGARTALA  VISAKHAPATNAM                    87
3      AGATTI ISLAND          KOCHI                   954
4               AGRA          DELHI                     0
5               AGRA      KHAJURAHO                   481
...              ...            ...                   ...
329         VADODARA        LUCKNOW                   211
330         VADODARA         MUMBAI                 25763
331       VIJAYAWADA       VARANASI                   475
332       VIJAYAWADA  VISAKHAPATNAM                   730
TOTAL            NaN            NaN               4309503

       PASSENGERS FROM CITY 2
S.No.
1                        1289
2                           0
3                         914
4                          15
5                           0
...                       ...
329                       219
330                     22629
331                       302
332                       674
TOTAL                 4306212

[333 rows x 4 columns]
                    CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1                 AGARTALA        CHENNAI                  3316
2                 AGARTALA     PORT BLAIR                     0
3                 AGARTALA           PUNE                   119
4                 AGARTALA  VISAKHAPATNAM                    46
5            AGATTI ISLAND          KOCHI                   966
...                    ...            ...                   ...
446               VADODARA      MANGALORE                   134
447               VADODARA         MUMBAI                 25184
448             VIJAYAWADA  VISAKHAPATNAM                  3488
TOTAL                  NaN            NaN               5374695
GRAND TOTAL            NaN            NaN              10720207

             PASSENGERS FROM CITY 2
S.No.
1                            4470.0
2                               8.0
3                               0.0
4                               0.0
5                            1173.0
...                             ...
446                             0.0
447                         23893.0
448                          3365.0
TOTAL                     5345512.0
GRAND TOTAL                     NaN

[450 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                        AGARTALA
4                                                   AGATTI ISLAND
5                                                            AGRA
...                                                           ...
511                                                      VADODARA
512                                                    VIJAYAWADA
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                   VISAKHAPATNAM
4                                                           KOCHI
5                                                           DELHI
...                                                           ...
511                                                        MUMBAI
512                                                 VISAKHAPATNAM
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2072.0
2                                                                    878.0
3                                                                    110.0
4                                                                   2542.0
5                                                                      0.0
...                                                                    ...
511                                                                20536.0
512                                                                    0.0
SUB TOTAL                                                        5676826.0
TOTAL                                                           11321549.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2097.0
2                                                                     1590.0
3                                                                        0.0
4                                                                        0.0
5                                                                       14.0
...                                                                      ...
511                                                                  19243.0
512                                                                   5369.0
SUB TOTAL                                                          5644723.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[515 rows x 4 columns]
                                                        CITY 1         CITY 2  \
S.No.
1                                                      ADAMPUR          DELHI
2                                                     AGARTALA         AIZAWL
3                                                     AGARTALA      BENGALURU
4                                                     AGARTALA        CHENNAI
5                                                     AGARTALA     COIMBATORE
...                                                        ...            ...
545                                                 VIJAYAWADA  VISAKHAPATNAM
SUB TOTAL                                                  NaN            NaN
TOTAL                                                      NaN            NaN
Note: City pair wise domestic freight and mail ...         NaN            NaN
NaN                                                        NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    2178
2                                                                      47
3                                                                    3517
4                                                                    1895
5                                                                      10
...                                                                   ...
545                                                                  2135
SUB TOTAL                                                         6167629
TOTAL                                                            12331165
Note: City pair wise domestic freight and mail ...                    NaN
NaN                                                                   NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      2190
2                                                                        36
3                                                                      3554
4                                                                      1191
5                                                                         6
...                                                                     ...
545                                                                    2057
SUB TOTAL                                                           6163536
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN
NaN                                                                     NaN

[549 rows x 4 columns]
               CITY 1         CITY 2  PASSENGERS TO CITY 2  \
Sl.No.
1            AGARTALA        CHENNAI                   774
2       AGATTI ISLAND      BENGALURU                    77
3       AGATTI ISLAND          KOCHI                   851
4                AGRA          DELHI                     0
5                AGRA      KHAJURAHO                   269
...               ...            ...                   ...
315          VADODARA      HYDERABAD                   698
316          VADODARA        KOLKATA                   626
317          VADODARA         MUMBAI                 22346
318        VIJAYAWADA  VISAKHAPATNAM                   409
TOTAL             NaN            NaN               3913246

        PASSENGERS FROM CITY 2
Sl.No.
1                          193
2                           83
3                          803
4                           54
5                            0
...                        ...
315                        647
316                          0
317                      19514
318                        328
TOTAL                  3922156

[319 rows x 4 columns]
              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   871
2           AGARTALA  VISAKHAPATNAM                    78
3      AGATTI ISLAND      BENGALURU                     0
4      AGATTI ISLAND          KOCHI                   898
5               AGRA          DELHI                     0
...              ...            ...                   ...
342         VADODARA        LUCKNOW                   208
343         VADODARA         MUMBAI                 25236
344       VIJAYAWADA       VARANASI                  1075
345       VIJAYAWADA  VISAKHAPATNAM                   836
TOTAL            NaN            NaN               4494786

       PASSENGERS FROM CITY 2
S.No.
1                         998
2                           0
3                          17
4                         928
5                           9
...                       ...
342                       147
343                     20912
344                       980
345                       674
TOTAL                 4512910

[346 rows x 4 columns]
                                                           CITY 1  \
S.No.
1                                                            AGRA
2                                                            AGRA
3                                                            AGRA
4                                                   AGATTI ISLAND
5                                                          AIZAWL
...                                                           ...
456                                                    TRIVANDRUM
457                                                    VIJAYAWADA
SUB-TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                       KHAJURAHO
3                                                        VARANASI
4                                                           KOCHI
5                                                       AHMEDABAD
...                                                           ...
456                                                      VARANASI
457                                                 VISAKHAPATNAM
SUB-TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                      0.0
2                                                                    332.0
3                                                                      0.0
4                                                                   1104.0
5                                                                     28.0
...                                                                    ...
456                                                                  179.0
457                                                                 3727.0
SUB-TOTAL                                                        5784345.0
TOTAL                                                           11544833.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                       46.0
2                                                                        0.0
3                                                                      909.0
4                                                                     1205.0
5                                                                       21.0
...                                                                      ...
456                                                                    173.0
457                                                                   3652.0
SUB-TOTAL                                                          5760488.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[460 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                        AGARTALA
4                                                        AGARTALA
5                                                   AGATTI ISLAND
...                                                           ...
513                                                      VADODARA
514                                                    VIJAYAWADA
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                          JAIPUR
4                                                   VISAKHAPATNAM
5                                                       BENGALURU
...                                                           ...
513                                                    PORT BLAIR
514                                                 VISAKHAPATNAM
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2333.0
2                                                                   1392.0
3                                                                      0.0
4                                                                    151.0
5                                                                     86.0
...                                                                    ...
513                                                                    2.0
514                                                                 2409.0
SUB TOTAL                                                        5794243.0
TOTAL                                                           11557816.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2303.0
2                                                                     1733.0
3                                                                      110.0
4                                                                        0.0
5                                                                       62.0
...                                                                      ...
513                                                                      0.0
514                                                                   2176.0
SUB TOTAL                                                          5763573.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[517 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

         CITY 1      CITY 2 PASSENGERS \nTO CITY 2 PASSENGERS \nFROM CITY 2
S.No.
1.0     ADAMPUR       DELHI                   1170                     1144
2.0    AGARTALA      AIZAWL                   1204                      690
3.0    AGARTALA   BENGALURU                   1972                     3547
4.0    AGARTALA     CHENNAI                   1244                     1121
5.0    AGARTALA  COIMBATORE                     13                        3
...         ...         ...                    ...                      ...
NaN         NaN         NaN                    NaN                      NaN
NaN         NaN         NaN                    NaN                      NaN
NaN         NaN         NaN                    NaN                      NaN
NaN         NaN         NaN                    NaN                      NaN
NaN         NaN         NaN                    NaN                      NaN

[560 rows x 4 columns]
              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   521
2           AGARTALA        SILCHAR                     2
3      AGATTI ISLAND          KOCHI                  1623
4               AGRA          DELHI                     0
5               AGRA      KHAJURAHO                   189
...              ...            ...                   ...
314         VADODARA        KOLKATA                  1021
315         VADODARA        LUCKNOW                   121
316         VADODARA         MUMBAI                 22784
317       VIJAYAWADA  VISAKHAPATNAM                   204
TOTAL            NaN            NaN               3980476

       PASSENGERS FROM CITY 2
S.No.
1                         974
2                           0
3                           0
4                          54
5                           0
...                       ...
314                         0
315                        69
316                     21090
317                      1699
TOTAL                 3916464

[318 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   746
2           AGARTALA  VISAKHAPATNAM                    95
3      AGATTI ISLAND          KOCHI                   961
4          AHMEDABAD      BENGALURU                 24988
5          AHMEDABAD        CHENNAI                 16614
...              ...            ...                   ...
329         VADODARA        LUCKNOW                   180
330         VADODARA         MUMBAI                 22962
331       VIJAYAWADA       VARANASI                   980
332       VIJAYAWADA  VISAKHAPATNAM                   881
TOTAL            NaN            NaN               4575974

       PASSENGERS FROM CITY 2
S.No.
1                         694
2                           0
3                        1209
4                       34003
5                       18328
...                       ...
329                       174
330                     20825
331                       865
332                      1578
TOTAL                 4524713

[333 rows x 4 columns]
                                                           CITY 1  \
S.No.
1                                                        AGARTALA
2                                                        AGARTALA
3                                                        AGARTALA
4                                                   AGATTI ISLAND
5                                                            AGRA
...                                                           ...
435                                                      VADODARA
436                                                    VIJAYAWADA
SUB-TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                         CHENNAI
2                                                            PUNE
3                                                   VISAKHAPATNAM
4                                                           KOCHI
5                                                           DELHI
...                                                           ...
435                                                        MUMBAI
436                                                 VISAKHAPATNAM
SUB-TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   4578.0
2                                                                    227.0
3                                                                    182.0
4                                                                   1270.0
5                                                                      0.0
...                                                                    ...
435                                                                25727.0
436                                                                 2871.0
SUB-TOTAL                                                        5776989.0
TOTAL                                                           11475498.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2643.0
2                                                                        0.0
3                                                                        3.0
4                                                                     1451.0
5                                                                       43.0
...                                                                      ...
435                                                                  23227.0
436                                                                   3369.0
SUB-TOTAL                                                          5698509.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[439 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                   AGATTI ISLAND
4                                                   AGATTI ISLAND
5                                                            AGRA
...                                                           ...
489                                                      VADODARA
490                                                    VIJAYAWADA
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                       BENGALURU
4                                                           KOCHI
5                                                           DELHI
...                                                           ...
489                                                         SURAT
490                                                 VISAKHAPATNAM
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2268.0
2                                                                   1932.0
3                                                                     60.0
4                                                                   1113.0
5                                                                      0.0
...                                                                    ...
489                                                                    1.0
490                                                                 2430.0
SUB TOTAL                                                        5515539.0
TOTAL                                                           10967168.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2257.0
2                                                                     1974.0
3                                                                       65.0
4                                                                     1298.0
5                                                                       40.0
...                                                                      ...
489                                                                      0.0
490                                                                   2016.0
SUB TOTAL                                                          5451629.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[493 rows x 4 columns]
              CITY 1     CITY 2  PASSENGERS \nTO CITY 2  \
S.No.
1          BENGALURU    CHENNAI                     0.0
2          BENGALURU      DELHI                     0.0
3          BENGALURU     MUMBAI                     0.0
4            CHENNAI  HYDERABAD                     0.0
5              DELHI    KOLKATA                     0.0
6              DELHI     MUMBAI                     0.0
SUB TOTAL        NaN        NaN                     0.0
TOTAL            NaN        NaN                     0.0
NaN              NaN        NaN                     NaN
NaN              NaN        NaN                     NaN
NaN              NaN        NaN                     NaN
NaN              NaN        NaN                     NaN
NaN              NaN        NaN                     NaN
NaN              NaN        NaN                     NaN

          PASSENGERS \nFROM CITY 2
S.No.
1                                0
2                                0
3                                0
4                                -
5                                0
6                                0
SUB TOTAL                        0
TOTAL                          NaN
NaN                            NaN
NaN                            NaN
NaN                            NaN
NaN                            NaN
NaN                            NaN
NaN                            NaN
                    CITY 1      CITY 2  PASSENGERS TO CITY 2  \
S.No.
1            AGATTI ISLAND       KOCHI                 482.0
2                AHMEDABAD   BENGALURU               15846.0
3                AHMEDABAD      BHOPAL                1020.0
4                AHMEDABAD     CHENNAI               16090.0
5                AHMEDABAD  COIMBATORE                 946.0
...                    ...         ...                   ...
GRAND TOTAL            NaN         NaN             7097141.0
NaN                    NaN         NaN                   NaN
NaN                    NaN         NaN                   NaN
NaN                    NaN         NaN                   NaN
NaN                    NaN         NaN                   NaN

             PASSENGERS FROM CITY 2
S.No.
1                             787.0
2                           13112.0
3                             720.0
4                           14762.0
5                            1204.0
...                             ...
GRAND TOTAL                     NaN
NaN                             NaN
NaN                             NaN
NaN                             NaN
NaN                             NaN

[290 rows x 4 columns]
              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                  1017
2      AGATTI ISLAND          KOCHI                  1426
3               AGRA          DELHI                     0
4               AGRA      KHAJURAHO                     7
5               AGRA       VARANASI                     0
...              ...            ...                   ...
311         VADODARA        KOLKATA                  1124
312         VADODARA        LUCKNOW                   379
313         VADODARA         MUMBAI                 26257
314       VIJAYAWADA  VISAKHAPATNAM                  1294
TOTAL            NaN            NaN               4296771

       PASSENGERS FROM CITY 2
S.No.
1                        1347
2                           0
3                           2
4                           0
5                         106
...                       ...
311                         0
312                       224
313                     22831
314                      2801
TOTAL                 4326610

[315 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                    CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1                 AGARTALA        CHENNAI                   885
2                 AGARTALA  VISAKHAPATNAM                   119
3            AGATTI ISLAND          KOCHI                  1050
4                AHMEDABAD      BENGALURU                 34072
5                AHMEDABAD        CHENNAI                 19977
...                    ...            ...                   ...
327               VADODARA        LUCKNOW                     0
328               VADODARA         MUMBAI                 26842
329             VIJAYAWADA  VISAKHAPATNAM                  1827
TOTAL                  NaN            NaN               5070928
GRAND TOTAL            NaN            NaN              10140073

             PASSENGERS FROM CITY 2
S.No.
1                             766.0
2                               0.0
3                            1412.0
4                           30991.0
5                           17955.0
...                             ...
327                           194.0
328                         22553.0
329                          1913.0
TOTAL                     5069145.0
GRAND TOTAL                     NaN

[331 rows x 4 columns]
                                                        CITY 1         CITY 2  \
S.No.
1                                                      ADAMPUR          DELHI
2                                                     AGARTALA        CHENNAI
3                                                     AGARTALA           PUNE
4                                                     AGARTALA       SHILLONG
5                                                     AGARTALA  VISAKHAPATNAM
...                                                        ...            ...
456                                                   VADODARA         MUMBAI
457                                                 VIJAYAWADA  VISAKHAPATNAM
SUB TOTAL                                                  NaN            NaN
TOTAL                                                      NaN            NaN
Note: City pair wise domestic freight and mail ...         NaN            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2258.0
2                                                                   4971.0
3                                                                    165.0
4                                                                     43.0
5                                                                    198.0
...                                                                    ...
456                                                                27042.0
457                                                                 3090.0
SUB TOTAL                                                        5912771.0
TOTAL                                                           11818634.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2190.0
2                                                                     2452.0
3                                                                        0.0
4                                                                       27.0
5                                                                        2.0
...                                                                      ...
456                                                                  20888.0
457                                                                   2891.0
SUB TOTAL                                                          5905863.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[460 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                        CITY 1         CITY 2  \
S.No.
1                                                      ADAMPUR          DELHI
2                                                     AGARTALA       BAGDOGRA
3                                                     AGARTALA      BENGALURU
4                                                     AGARTALA        CHENNAI
5                                                     AGARTALA     COIMBATORE
...                                                        ...            ...
496                                                    UDAIPUR  VISAKHAPATNAM
497                                                 VIJAYAWADA  VISAKHAPATNAM
SUB TOTAL                                                  NaN            NaN
TOTAL                                                      NaN            NaN
Note: City pair wise domestic freight and mail ...         NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    1968
2                                                                      10
3                                                                    4774
4                                                                    2057
5                                                                       -
...                                                                   ...
496                                                                     2
497                                                                  2703
SUB TOTAL                                                         6052813
TOTAL                                                            12151749
Note: City pair wise domestic freight and mail ...                    NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      1776
2                                                                         -
3                                                                      4129
4                                                                      2095
5                                                                        10
...                                                                     ...
496                                                                       -
497                                                                    2527
SUB TOTAL                                                           6098936
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN

[500 rows x 4 columns]
          CITY 1    CITY 2 PASSENGERS \nTO CITY 2 PASSENGERS \nFROM CITY 2
S.No.
1.0      ADAMPUR     DELHI                     59                       45
2.0     AGARTALA  GUWAHATI                      -                        0
3.0     AGARTALA   KOLKATA                    486                      494
4.0    AHMEDABAD     AJMER                     34                       16
5.0    AHMEDABAD   BELGAUM                     20                        9
...          ...       ...                    ...                      ...
NaN          NaN       NaN                    NaN                      NaN
NaN          NaN       NaN                    NaN                      NaN
NaN          NaN       NaN                    NaN                      NaN
NaN          NaN       NaN                    NaN                      NaN
NaN          NaN       NaN                    NaN                      NaN

[238 rows x 4 columns]
                    CITY 1      CITY 2  PASSENGERS TO CITY 2  \
S.No.
1            AGATTI ISLAND       KOCHI                 506.0
2                AHMEDABAD   BENGALURU               13007.0
3                AHMEDABAD      BHOPAL                 875.0
4                AHMEDABAD     CHENNAI               13855.0
5                AHMEDABAD  COIMBATORE                 790.0
...                    ...         ...                   ...
285               VADODARA   HYDERABAD                 560.0
286               VADODARA     KOLKATA                 388.0
287               VADODARA      MUMBAI               17683.0
TOTAL                  NaN         NaN             3256940.0
GRAND TOTAL            NaN         NaN             6568843.0

             PASSENGERS FROM CITY 2
S.No.
1                             750.0
2                           12170.0
3                             712.0
4                           12988.0
5                            1245.0
...                             ...
285                           485.0
286                             0.0
287                         17306.0
TOTAL                     3311903.0
GRAND TOTAL                     NaN

[289 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                  1149
2      AGATTI ISLAND          KOCHI                  1119
3          AHMEDABAD      BENGALURU                 15121
4          AHMEDABAD        CHENNAI                 12596
5          AHMEDABAD     COIMBATORE                   917
...              ...            ...                   ...
310         VADODARA        KOLKATA                   928
311         VADODARA        LUCKNOW                   312
312         VADODARA         MUMBAI                 23588
313       VIJAYAWADA  VISAKHAPATNAM                  1132
TOTAL            NaN            NaN               3963140

       PASSENGERS FROM CITY 2
S.No.
1                        1191
2                           0
3                       15616
4                       12319
5                           0
...                       ...
310                         0
311                       190
312                     21110
313                      2241
TOTAL                 3970651

[314 rows x 4 columns]
                    CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1                 AGARTALA        CHENNAI                  1018
2                 AGARTALA           PUNE                    14
3                 AGARTALA  VISAKHAPATNAM                   181
4            AGATTI ISLAND          KOCHI                   478
5                     AGRA          DELHI                     0
...                    ...            ...                   ...
354               VADODARA         MUMBAI                 22827
355               VADODARA  VISAKHAPATNAM                     0
356             VIJAYAWADA  VISAKHAPATNAM                  2748
TOTAL                  NaN            NaN               4763058
GRAND TOTAL            NaN            NaN               9536983

             PASSENGERS FROM CITY 2
S.No.
1                             802.0
2                               0.0
3                               0.0
4                             824.0
5                              45.0
...                             ...
354                         22558.0
355                             8.0
356                          2724.0
TOTAL                     4773925.0
GRAND TOTAL                     NaN

[358 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                            AGRA
2                                                            AGRA
3                                                            AGRA
4                                                   AGATTI ISLAND
5                                                   AGATTI ISLAND
...                                                           ...
465                                                    TRIVANDRUM
466                                                    VIJAYAWADA
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                       KHAJURAHO
3                                                        VARANASI
4                                                       BENGALURU
5                                                           KOCHI
...                                                           ...
465                                                      VARANASI
466                                                 VISAKHAPATNAM
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                      0.0
2                                                                    162.0
3                                                                      0.0
4                                                                     33.0
5                                                                    502.0
...                                                                    ...
465                                                                   21.0
466                                                                 3086.0
SUB TOTAL                                                        5700043.0
TOTAL                                                           11288337.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                       67.0
2                                                                        0.0
3                                                                      427.0
4                                                                       60.0
5                                                                      785.0
...                                                                      ...
465                                                                      0.0
466                                                                   2955.0
SUB TOTAL                                                          5588294.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[469 rows x 4 columns]
      3S          AEROLOGIC     GERMANY Unnamed: 4
2
3.0   VV  AEROSVIT AIRLINES     UKRAINE        NaN
4.0   G9         AIR ARABIA     SHARJAH        NaN
5.0   AK    AIR ASIA BERHAD    MALAYSIA        NaN
6.0   D7         AIR ASIA X    MALAYSIA        NaN
7.0   KC         AIR ASTANA  KAZAKHSTAN        NaN
..   ...                ...         ...        ...
NaN  NaN                NaN         NaN        NaN
NaN  NaN                NaN         NaN        NaN
NaN  NaN                NaN         NaN        NaN
NaN  NaN                NaN         NaN        NaN
NaN  NaN                NaN         NaN        NaN

[994608 rows x 4 columns]
                                                                      CITY 1  \
S.No.
1                                                                   AGARTALA
2                                                                   AGARTALA
3                                                                   AGARTALA
4                                                                   AGARTALA
5                                                                       AGRA
...                                                                      ...
320                                                               TRIVANDRUM
321                                                 BIDAR AIRPORT, KARNATAKA
SUB TOTAL                                                                NaN
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

                                                        CITY 2  \
S.No.
1                                                    BENGALURU
2                                                        DELHI
3                                                     GUWAHATI
4                                                      KOLKATA
5                                                       JAIPUR
...                                                        ...
320                                                 VIJAYAWADA
321                                                  BENGALURU
SUB TOTAL                                                  NaN
TOTAL                                                      NaN
Note: City pair wise domestic freight and mail ...         NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                     401
2                                                                     150
3                                                                      40
4                                                                    9803
5                                                                     111
...                                                                   ...
320                                                                    26
321                                                                   754
SUB TOTAL                                                         1073361
TOTAL                                                             1976228
Note: City pair wise domestic freight and mail ...                    NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                       390
2                                                                       261
3                                                                      1091
4                                                                     12288
5                                                                        90
...                                                                     ...
320                                                                       -
321                                                                     727
SUB TOTAL                                                            902867
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN

[324 rows x 4 columns]
                    CITY 1     CITY 2  PASSENGERS TO CITY 2  \
S.No.
1            AGATTI ISLAND      KOCHI                   375
2                     AGRA  KHAJURAHO                     6
3                     AGRA   VARANASI                     0
4                AHMEDABAD  BENGALURU                 12967
5                AHMEDABAD     BHOPAL                   916
...                    ...        ...                   ...
297               VADODARA  HYDERABAD                   373
298               VADODARA    KOLKATA                   353
299               VADODARA     MUMBAI                 19223
TOTAL                  NaN        NaN               3386618
GRAND TOTAL            NaN        NaN               6747792

             PASSENGERS FROM CITY 2
S.No.
1                             524.0
2                               0.0
3                              31.0
4                           12590.0
5                             572.0
...                             ...
297                           423.0
298                             0.0
299                         18181.0
TOTAL                     3361174.0
GRAND TOTAL                     NaN

[301 rows x 4 columns]
              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   508
2      AGATTI ISLAND          KOCHI                  1052
3          AHMEDABAD      BENGALURU                 18138
4          AHMEDABAD        CHENNAI                 14057
5          AHMEDABAD     COIMBATORE                   830
...              ...            ...                   ...
305         VADODARA        KOLKATA                   763
306         VADODARA        LUCKNOW                   325
307         VADODARA         MUMBAI                 25072
308       VIJAYAWADA  VISAKHAPATNAM                  1295
TOTAL            NaN            NaN               4244381

       PASSENGERS FROM CITY 2
S.No.
1                         486
2                           0
3                       17567
4                       13683
5                           0
...                       ...
305                         0
306                       203
307                     21699
308                      2498
TOTAL                 4231066

[309 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                  CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1               AGARTALA        CHENNAI                  1185
2               AGARTALA           PUNE                   125
3               AGARTALA  VISAKHAPATNAM                    58
4          AGATTI ISLAND          KOCHI                   590
5                   AGRA          DELHI                     0
...                  ...            ...                   ...
365             VADODARA         MUMBAI                 25035
366             VADODARA  VISAKHAPATNAM                     0
367           VIJAYAWADA  VISAKHAPATNAM                  2633
SUB TOTAL            NaN            NaN               4756510
TOTAL                NaN            NaN               9533226

           PASSENGERS FROM CITY 2
S.No.
1                          1073.0
2                             0.0
3                             0.0
4                           604.0
5                            94.0
...                           ...
365                       21401.0
366                          12.0
367                        2660.0
SUB TOTAL               4776716.0
TOTAL                         NaN

[369 rows x 4 columns]
                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                        AGARTALA
4                                                        AGARTALA
5                                                   AGATTI ISLAND
...                                                           ...
464                                                      VADODARA
465                                                    VIJAYAWADA
SUBTOTAL                                                      NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                            PUNE
4                                                   VISAKHAPATNAM
5                                                       BENGALURU
...                                                           ...
464                                                        MUMBAI
465                                                 VISAKHAPATNAM
SUBTOTAL                                                      NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2333.0
2                                                                   4189.0
3                                                                    146.0
4                                                                     95.0
5                                                                     60.0
...                                                                    ...
464                                                                23986.0
465                                                                 2735.0
SUBTOTAL                                                         5858495.0
TOTAL                                                           11658023.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2205.0
2                                                                     2004.0
3                                                                        0.0
4                                                                        0.0
5                                                                       43.0
...                                                                      ...
464                                                                  22364.0
465                                                                   3393.0
SUBTOTAL                                                           5799528.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[468 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                        CITY 1         CITY 2  \
S.No.
1                                                      ADAMPUR          DELHI
2                                                     AGARTALA       BAGDOGRA
3                                                     AGARTALA      BENGALURU
4                                                     AGARTALA        CHENNAI
5                                                     AGARTALA     COIMBATORE
...                                                        ...            ...
497                                                    UDAIPUR  VISAKHAPATNAM
498                                                 VIJAYAWADA  VISAKHAPATNAM
SUB TOTAL                                                  NaN            NaN
TOTAL                                                      NaN            NaN
Note: City pair wise domestic freight and mail ...         NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    2048
2                                                                       -
3                                                                    3205
4                                                                    2266
5                                                                       -
...                                                                   ...
497                                                                     2
498                                                                  1374
SUB TOTAL                                                         5906042
TOTAL                                                            11863940
Note: City pair wise domestic freight and mail ...                    NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      2088
2                                                                         9
3                                                                      3313
4                                                                      1555
5                                                                        18
...                                                                     ...
497                                                                       -
498                                                                    1393
SUB TOTAL                                                           5957898
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN

[501 rows x 4 columns]
                                                      CITY 1         CITY 2  \
S.No.
1                                                   AGARTALA      BENGALURU
2                                                   AGARTALA          DELHI
3                                                   AGARTALA       GUWAHATI
4                                                   AGARTALA        KOLKATA
5                                                       AGRA         JAIPUR
...                                                      ...            ...
327                                                 TIRUPATI  VISAKHAPATNAM
SUB TOTAL                                                NaN            NaN
TOTAL                                                    NaN            NaN
Note: City pair wise domestic freight and mail ...       NaN            NaN
NaN                                                      NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                     532
2                                                                    2726
3                                                                     903
4                                                                    5351
5                                                                      67
...                                                                   ...
327                                                                   130
SUB TOTAL                                                         1110603
TOTAL                                                             2101122
Note: City pair wise domestic freight and mail ...                    NaN
NaN                                                                   NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      1512
2                                                                      3876
3                                                                       930
4                                                                      6362
5                                                                        42
...                                                                     ...
327                                                                       -
SUB TOTAL                                                            990519
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN
NaN                                                                     NaN

[331 rows x 4 columns]
                   CITY2  PASSENGER TO CITY 2  PASSENGER FROM CITY 2  \
CITY 1
AGATTI ISLAND      KOCHI                  484                    430
AGRA               DELHI                    0                     12
AGRA            VARANASI                    0                     76
AHMEDABAD      BENGALURU                12375                  11730
AHMEDABAD         BHOPAL                  859                    568
...                  ...                  ...                    ...
VADODARA           DELHI                13651                  13899
VADODARA       HYDERABAD                  444                    474
VADODARA         KOLKATA                  286                      0
VADODARA          MUMBAI                20605                  19241
TOTAL                NaN              3325816                3409551

               Unnamed: 4
CITY 1
AGATTI ISLAND         NaN
AGRA                  NaN
AGRA                  NaN
AHMEDABAD             NaN
AHMEDABAD             NaN
...                   ...
VADODARA              NaN
VADODARA              NaN
VADODARA              NaN
VADODARA              NaN
TOTAL                 NaN

[303 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   397
2           AGARTALA  VISAKHAPATNAM                    11
3      AGATTI ISLAND          KOCHI                   411
4          AHMEDABAD      BENGALURU                 18536
5          AHMEDABAD        CHENNAI                 13234
...              ...            ...                   ...
306         VADODARA        KOLKATA                   890
307         VADODARA        LUCKNOW                   197
308         VADODARA         MUMBAI                 25810
309       VIJAYAWADA  VISAKHAPATNAM                  2357
TOTAL            NaN            NaN               4136840

       PASSENGERS FROM CITY 2
S.No.
1                         548
2                           0
3                         465
4                       18791
5                       13644
...                       ...
306                         0
307                       238
308                     22203
309                      2174
TOTAL                 4212678

[310 rows x 4 columns]
                    CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1                 AGARTALA        CHENNAI                1037.0
2                 AGARTALA           PUNE                 141.0
3            AGATTI ISLAND          KOCHI                 577.0
4                     AGRA          DELHI                   0.0
5                     AGRA      KHAJURAHO                  93.0
...                    ...            ...                   ...
361               VADODARA         MUMBAI               25087.0
362               VADODARA  VISAKHAPATNAM                   0.0
363             VIJAYAWADA  VISAKHAPATNAM                3263.0
TOTAL                  NaN            NaN             4833997.0
GRAND TOTAL            NaN            NaN                   NaN

             PASSENGERS FROM CITY 2
S.No.
1                              1120
2                                 0
3                               652
4                                54
5                                 0
...                             ...
361                           21072
362                               7
363                            3223
TOTAL                       4829383
GRAND TOTAL                 9663380

[365 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                            AGRA
2                                                            AGRA
3                                                            AGRA
4                                                            AGRA
5                                                   AGATTI ISLAND
...                                                           ...
471                                                    TRIVANDRUM
472                                                    VIJAYAWADA
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                       KHAJURAHO
3                                                          JAIPUR
4                                                        VARANASI
5                                                       BENGALURU
...                                                           ...
471                                                      VARANASI
472                                                 VISAKHAPATNAM
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                      0.0
2                                                                    185.0
3                                                                    271.0
4                                                                      0.0
5                                                                     49.0
...                                                                    ...
471                                                                   11.0
472                                                                 2793.0
SUB TOTAL                                                        5654525.0
TOTAL                                                                  NaN
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                       41.0
2                                                                        0.0
3                                                                      245.0
4                                                                      396.0
5                                                                       37.0
...                                                                      ...
471                                                                      0.0
472                                                                   2654.0
SUB TOTAL                                                          5664691.0
TOTAL                                                             11319216.0
Note: City pair wise domestic freight and mail ...                       NaN

[475 rows x 4 columns]
                                                        CITY 1      CITY 2  \
S.No.
1                                                      ADAMPUR       DELHI
2                                                     AGARTALA    BAGDOGRA
3                                                     AGARTALA   BENGALURU
4                                                     AGARTALA     CHENNAI
5                                                     AGARTALA  COIMBATORE
...                                                        ...         ...
485                                                      SURAT     UDAIPUR
486                                                 TRIVANDRUM    VARANASI
SUB TOTAL                                                  NaN         NaN
TOTAL                                                      NaN         NaN
Note: City pair wise domestic freight and mail ...         NaN         NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    2343
2                                                                       -
3                                                                    3710
4                                                                    3401
5                                                                       -
...                                                                   ...
485                                                                   424
486                                                                     2
SUB TOTAL                                                         5871838
TOTAL                                                            11756732
Note: City pair wise domestic freight and mail ...                    NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      2296
2                                                                       186
3                                                                      3754
4                                                                      2668
5                                                                        13
...                                                                     ...
485                                                                     365
486                                                                       -
SUB TOTAL                                                           5884894
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN

[489 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

         CITY 1     CITY 2 PASSENGERS \nTO CITY 2 PASSENGERS \nFROM CITY 2
S.No.
1.0    AGARTALA  BENGALURU                    724                     1502
2.0    AGARTALA    CHENNAI                     32                       35
3.0    AGARTALA      DELHI                   3845                     3354
4.0    AGARTALA   GUWAHATI                   1062                      995
5.0    AGARTALA    KOLKATA                   4604                     7521
...         ...        ...                    ...                      ...
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN

[370 rows x 4 columns]
               CITY 1     CITY 2  PASSENGER TO CITY 2  PASSENGER FROM CITY 2
SL.No.
1       AGATTI ISLAND  BENGALURU                   44                     47
2       AGATTI ISLAND      KOCHI                  475                    600
3                AGRA      DELHI                    0                      5
4                AGRA  KHAJURAHO                   31                      0
5                AGRA   VARANASI                    0                    131
...               ...        ...                  ...                    ...
326          VADODARA      DELHI                13943                  14183
327          VADODARA  HYDERABAD                  476                    533
328          VADODARA    KOLKATA                  347                      0
329          VADODARA     MUMBAI                21461                  19257
TOTAL             NaN        NaN              3314811                3322512

[330 rows x 4 columns]
              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   360
2           AGARTALA  VISAKHAPATNAM                    27
3      AGATTI ISLAND          KOCHI                   448
4          AHMEDABAD      BENGALURU                 16998
5          AHMEDABAD        CHENNAI                 12454
...              ...            ...                   ...
305         VADODARA        KOLKATA                   601
306         VADODARA        LUCKNOW                   128
307         VADODARA         MUMBAI                 24592
308       VIJAYAWADA  VISAKHAPATNAM                  1505
TOTAL            NaN            NaN               4088072

       PASSENGERS FROM CITY 2
S.No.
1                         441
2                           0
3                         686
4                       18289
5                       13523
...                       ...
305                         0
306                        98
307                     20716
308                      1472
TOTAL                 4110573

[309 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                            AGRA
2                                                            AGRA
3                                                            AGRA
4                                                   AGATTI ISLAND
5                                                          AIZAWL
...                                                           ...
379                                                    VIJAYAWADA
SUB TOTAL                                                     NaN
1                                                        ZOOM AIR
TOTAL                                                         NaN
Note: Zoom Air has not submiited city pair wise...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                       KHAJURAHO
3                                                        VARANASI
4                                                           KOCHI
5                                                       AHMEDABAD
...                                                           ...
379                                                 VISAKHAPATNAM
SUB TOTAL                                                     NaN
1                                                             NaN
TOTAL                                                         NaN
Note: Zoom Air has not submiited city pair wise...            NaN

                                                    PASSENGERS TO CITY 2  \
S.No.
1                                                                    0.0
2                                                                   94.0
3                                                                    0.0
4                                                                  863.0
5                                                                   35.0
...                                                                  ...
379                                                               3164.0
SUB TOTAL                                                      4768559.0
1                                                                 1056.0
TOTAL                                                          9550493.0
Note: Zoom Air has not submiited city pair wise...                   NaN

                                                    PASSENGERS FROM CITY 2
S.No.
1                                                                     57.0
2                                                                      0.0
3                                                                    410.0
4                                                                    956.0
5                                                                     37.0
...                                                                    ...
379                                                                 3012.0
SUB TOTAL                                                        4780878.0
1                                                                      NaN
TOTAL                                                                  NaN
Note: Zoom Air has not submiited city pair wise...                     NaN

[383 rows x 4 columns]
                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                        AGARTALA
4                                                        AGARTALA
5                                                   AGATTI ISLAND
...                                                           ...
478                                                      VADODARA
479                                                    VIJAYAWADA
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                            PUNE
4                                                   VISAKHAPATNAM
5                                                       BENGALURU
...                                                           ...
478                                                         SURAT
479                                                 VISAKHAPATNAM
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2237.0
2                                                                   2826.0
3                                                                    192.0
4                                                                     92.0
5                                                                     54.0
...                                                                    ...
478                                                                    5.0
479                                                                 2545.0
SUB TOTAL                                                        5670897.0
TOTAL                                                           11363706.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2164.0
2                                                                     1769.0
3                                                                        0.0
4                                                                        0.0
5                                                                       28.0
...                                                                      ...
478                                                                      0.0
479                                                                   2413.0
SUB TOTAL                                                          5692809.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[482 rows x 4 columns]
                                                      CITY 1         CITY 2  \
S.No.
1                                                    ADAMPUR          DELHI
2                                                   AGARTALA       BAGDOGRA
3                                                   AGARTALA      BENGALURU
4                                                   AGARTALA        CHENNAI
5                                                   AGARTALA     COIMBATORE
...                                                      ...            ...
504                                                  UDAIPUR  VISAKHAPATNAM
SUB TOTAL                                                NaN            NaN
TOTAL                                                    NaN            NaN
Note: City pair wise domestic freight and mail ...       NaN            NaN
NaN                                                      NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    2264
2                                                                       -
3                                                                    2241
4                                                                    1895
5                                                                       -
...                                                                   ...
504                                                                    11
SUB TOTAL                                                         5767288
TOTAL                                                            11488069
Note: City pair wise domestic freight and mail ...                    NaN
NaN                                                                   NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      2145
2                                                                       167
3                                                                      4120
4                                                                      1742
5                                                                        56
...                                                                     ...
504                                                                       -
SUB TOTAL                                                           5720781
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN
NaN                                                                     NaN

[508 rows x 4 columns]
         CITY 1     CITY 2 PASSENGERS \nTO CITY 2 PASSENGERS \nFROM CITY 2
S.No.
1.0    AGARTALA  BENGALURU                   2372                     1782
2.0    AGARTALA    CHENNAI                    333                      265
3.0    AGARTALA      DELHI                   3738                     3337
4.0    AGARTALA   GUWAHATI                   1361                      947
5.0    AGARTALA     IMPHAL                    209                      182
...         ...        ...                    ...                      ...
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN

[418 rows x 4 columns]
               CITY1      CITY2  PASSENEGER TO CITY 2  PASSENGER FROM CITY 2
S.No.
1           AGARTALA    CHENNAI                   304                    303
2      AGATTI ISLAND      KOCHI                   607                    688
3               AGRA      DELHI                     0                  12790
4               AGRA  KHAJURAHO                  2168                      0
5               AGRA   VARANASI                     0                  41520
...              ...        ...                   ...                    ...
311         VADODARA      DELHI                 13124                  14117
312         VADODARA  HYDERABAD                   863                    519
313         VADODARA    KOLKATA                   523                      0
314         VADODARA     MUMBAI                 19385                  18809
TOTAL            NaN        NaN               3555366                3453123

[315 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                        AGARTALA
2                                                        AGARTALA
3                                                   AGATTI ISLAND
4                                                            AGRA
5                                                            AGRA
...                                                           ...
316                                                      VADODARA
317                                                      VADODARA
318                                                    VIJAYAWADA
TOTAL                                                         NaN
Note: Air India Express has not submitted month...            NaN

                                                           CITY 2  \
S.No.
1                                                         CHENNAI
2                                                   VISAKHAPATNAM
3                                                           KOCHI
4                                                           DELHI
5                                                       KHAJURAHO
...                                                           ...
316                                                       LUCKNOW
317                                                        MUMBAI
318                                                 VISAKHAPATNAM
TOTAL                                                         NaN
Note: Air India Express has not submitted month...            NaN

                                                    PASSENGERS TO CITY 2  \
S.No.
1                                                                  384.0
2                                                                   39.0
3                                                                 1473.0
4                                                                    0.0
5                                                                  254.0
...                                                                  ...
316                                                                179.0
317                                                              22907.0
318                                                                888.0
TOTAL                                                          4402322.0
Note: Air India Express has not submitted month...                   NaN

                                                    PASSENGERS FROM CITY 2
S.No.
1                                                                    809.0
2                                                                      0.0
3                                                                      0.0
4                                                                     66.0
5                                                                      0.0
...                                                                    ...
316                                                                  105.0
317                                                                19990.0
318                                                                 2554.0
TOTAL                                                            4235826.0
Note: Air India Express has not submitted month...                     NaN

[320 rows x 4 columns]
                    CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1                 AGARTALA        CHENNAI                  1260
2                 AGARTALA           PUNE                   136
3                 AGARTALA  VISAKHAPATNAM                    91
4            AGATTI ISLAND          KOCHI                  1035
5                     AGRA          DELHI                     0
...                    ...            ...                   ...
399               VADODARA      MANGALORE                   163
400               VADODARA         MUMBAI                 25817
401             VIJAYAWADA  VISAKHAPATNAM                  3253
TOTAL                  NaN            NaN               5231730
GRAND TOTAL            NaN            NaN              10418436

             PASSENGERS FROM CITY 2
S.No.
1                            1068.0
2                               0.0
3                               0.0
4                            1167.0
5                              55.0
...                             ...
399                             0.0
400                         22962.0
401                          3258.0
TOTAL                     5186706.0
GRAND TOTAL                     NaN

[403 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                        AGARTALA
4                                                        AGARTALA
5                                                   AGATTI ISLAND
...                                                           ...
489                                                      VADODARA
490                                                      VADODARA
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                            PUNE
4                                                   VISAKHAPATNAM
5                                                       BENGALURU
...                                                           ...
489                                                        MUMBAI
490                                                    PORT BLAIR
SUB TOTAL                                                     NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2277.0
2                                                                   4064.0
3                                                                    405.0
4                                                                    108.0
5                                                                   2299.0
...                                                                    ...
489                                                                23147.0
490                                                                   75.0
SUB TOTAL                                                        5973992.0
TOTAL                                                           11805382.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2251.0
2                                                                     1791.0
3                                                                        0.0
4                                                                        0.0
5                                                                     2465.0
...                                                                      ...
489                                                                  21970.0
490                                                                      0.0
SUB TOTAL                                                          5831390.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[493 rows x 4 columns]
                                                        CITY 1         CITY 2  \
S.No.
1                                                      ADAMPUR          DELHI
2                                                     AGARTALA       BAGDOGRA
3                                                     AGARTALA      BENGALURU
4                                                     AGARTALA        CHENNAI
5                                                     AGARTALA     COIMBATORE
...                                                        ...            ...
560                                                 VIJAYAWADA  VISAKHAPATNAM
SUB TOTAL                                                  NaN            NaN
TOTAL                                                      NaN            NaN
Note: City pair wise domestic freight and mail ...         NaN            NaN
NaN                                                        NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    2322
2                                                                       -
3                                                                    3948
4                                                                    2318
5                                                                       -
...                                                                   ...
560                                                                  1618
SUB TOTAL                                                         6144243
TOTAL                                                            12280250
Note: City pair wise domestic freight and mail ...                    NaN
NaN                                                                   NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      2606
2                                                                       141
3                                                                      4003
4                                                                      1402
5                                                                        18
...                                                                     ...
560                                                                    1516
SUB TOTAL                                                           6136007
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN
NaN                                                                     NaN

[564 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

         CITY 1     CITY 2 PASSENGERS \nTO CITY 2 PASSENGERS \nFROM CITY 2
S.No.
1.0    AGARTALA  BENGALURU                   4163                     2780
2.0    AGARTALA    CHENNAI                    390                      359
3.0    AGARTALA      DELHI                   3212                     3309
4.0    AGARTALA   GUWAHATI                   2351                     1894
5.0    AGARTALA     IMPHAL                   1290                     1464
...         ...        ...                    ...                      ...
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN
NaN         NaN        NaN                    NaN                      NaN

[438 rows x 4 columns]
              CITY 1         CITY 2  PASSENGER TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                  728
2      AGATTI ISLAND          KOCHI                  860
3               AGRA          DELHI                    0
4               AGRA      KHAJURAHO                  270
5               AGRA       VARANASI                    0
...              ...            ...                  ...
305         VADODARA      HYDERABAD                 1079
306         VADODARA        KOLKATA                  735
307         VADODARA         MUMBAI                21791
308       VIJAYAWADA  VISAKHAPATNAM                  516
TOTAL            NaN            NaN              3645763

       PASSENGER FROM CITY 2
S.No.
1                        594
2                        727
3                         42
4                          0
5                        979
...                      ...
305                      879
306                        0
307                    22537
308                      361
TOTAL                3643784

[309 rows x 4 columns]
                CITY 1         CITY 2  PASSENGERS TO CITY 2  \
Sl .No.
1             AGARTALA        CHENNAI                   723
2             AGARTALA  VISAKHAPATNAM                    63
3        AGATTI ISLAND          KOCHI                   777
4                 AGRA          DELHI                     0
5                 AGRA      KHAJURAHO                   313
...                ...            ...                   ...
316           VADODARA        KOLKATA                   745
317           VADODARA        LUCKNOW                   125
318           VADODARA         MUMBAI                 23436
319         VIJAYAWADA  VISAKHAPATNAM                  1697
TOTAL              NaN            NaN               4384166

         PASSENGERS FROM CITY 2
Sl .No.
1                          1215
2                             0
3                           828
4                            28
5                             0
...                         ...
316                           0
317                         101
318                       22643
319                        1743
TOTAL                   4557330

[320 rows x 4 columns]
                    CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1                 AGARTALA        CHENNAI                  2095
2                 AGARTALA           PUNE                    92
3                 AGARTALA  VISAKHAPATNAM                     4
4            AGATTI ISLAND          KOCHI                   985
5                     AGRA          DELHI                     0
...                    ...            ...                   ...
399               VADODARA      MANGALORE                    84
400               VADODARA         MUMBAI                 26365
401             VIJAYAWADA  VISAKHAPATNAM                  3289
TOTAL                  NaN            NaN               5204564
GRAND TOTAL            NaN            NaN              10453411

             PASSENGERS FROM CITY 2
S.No.
1                            1704.0
2                               0.0
3                               0.0
4                            1213.0
5                              31.0
...                             ...
399                             0.0
400                         25352.0
401                          3217.0
TOTAL                     5248847.0
GRAND TOTAL                     NaN

[403 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                        AGARTALA
4                                                        AGARTALA
5                                                   AGATTI ISLAND
...                                                           ...
476                                                      VADODARA
477                                                    VIJAYAWADA
SUBTOTAL                                                      NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                          NAGPUR
4                                                            PUNE
5                                                           KOCHI
...                                                           ...
476                                                        MUMBAI
477                                                 VISAKHAPATNAM
SUBTOTAL                                                      NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2289.0
2                                                                   1586.0
3                                                                     40.0
4                                                                    239.0
5                                                                   2510.0
...                                                                    ...
476                                                                21528.0
477                                                                    0.0
SUBTOTAL                                                         5799779.0
TOTAL                                                                  NaN
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2319.0
2                                                                     1343.0
3                                                                        0.0
4                                                                        0.0
5                                                                       42.0
...                                                                      ...
476                                                                  20802.0
477                                                                   5126.0
SUBTOTAL                                                           5806747.0
TOTAL                                                             11606526.0
Note: City pair wise domestic freight and mail ...                       NaN

[480 rows x 4 columns]
                                                        CITY 1         CITY 2  \
S.No.
1                                                      ADAMPUR          DELHI
2                                                     AGARTALA      BENGALURU
3                                                     AGARTALA        CHENNAI
4                                                     AGARTALA     COIMBATORE
5                                                     AGARTALA          DELHI
...                                                        ...            ...
532                                                 VIJAYAWADA  VISAKHAPATNAM
SUB TOTAL                                                  NaN            NaN
TOTAL                                                      NaN            NaN
Note: City pair wise domestic freight and mail ...         NaN            NaN
NaN                                                        NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    2600
2                                                                    3690
3                                                                    2280
4                                                                       -
5                                                                    5480
...                                                                   ...
532                                                                  3054
SUB TOTAL                                                         6460649
TOTAL                                                            12910135
Note: City pair wise domestic freight and mail ...                    NaN
NaN                                                                   NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      2525
2                                                                      2854
3                                                                      1327
4                                                                         3
5                                                                      5399
...                                                                     ...
532                                                                    2810
SUB TOTAL                                                           6449486
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN
NaN                                                                     NaN

[536 rows x 4 columns]
              CITY 1         CITY 2  PASSENGER TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                  689
2      AGATTI ISLAND      BENGALURU                  146
3      AGATTI ISLAND          KOCHI                  720
4               AGRA          DELHI                    0
5               AGRA      KHAJURAHO                  307
...              ...            ...                  ...
311         VADODARA      HYDERABAD                  876
312         VADODARA        KOLKATA                  688
313         VADODARA         MUMBAI                23973
314       VIJAYAWADA  VISAKHAPATNAM                  532
TOTAL            NaN            NaN              3830923

       PASSENGER FROM CITY 2
S.No.
1                        567
2                        144
3                        709
4                         66
5                          0
...                      ...
311                      954
312                        0
313                    24568
314                      421
TOTAL                3843949

[315 rows x 4 columns]
              CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1           AGARTALA        CHENNAI                   967
2           AGARTALA  VISAKHAPATNAM                    69
3      AGATTI ISLAND          KOCHI                  1020
4               AGRA          DELHI                     0
5               AGRA      KHAJURAHO                   275
...              ...            ...                   ...
314         VADODARA        KOLKATA                   717
315         VADODARA        LUCKNOW                   151
316         VADODARA         MUMBAI                 27946
317       VIJAYAWADA  VISAKHAPATNAM                  1730
TOTAL            NaN            NaN               4742147

       PASSENGERS FROM CITY 2
S.No.
1                         996
2                           0
3                        1128
4                          41
5                           0
...                       ...
314                         0
315                       289
316                     25941
317                      1526
TOTAL                 4774096

[318 rows x 4 columns]
                     CITY 1         CITY 2  PASSENGERS TO CITY 2  \
S.No.
1                  AGARTALA        CHENNAI                  2044
2                  AGARTALA           PUNE                   199
3             AGATTI ISLAND          KOCHI                   910
4                      AGRA          DELHI                     0
5                      AGRA         JAIPUR                   475
...                     ...            ...                   ...
422                VADODARA      MANGALORE                    70
423                VADODARA         MUMBAI                 26138
424              VIJAYAWADA  VISAKHAPATNAM                  3503
TOTAL                   NaN            NaN               5600612
GRAND TOTAL             NaN            NaN              11206075

              PASSENGERS FROM CITY 2
S.No.
1                             1839.0
2                                0.0
3                             1072.0
4                               31.0
5                              341.0
...                              ...
422                              0.0
423                          25103.0
424                           3402.0
TOTAL                      5605463.0
GRAND TOTAL                      NaN

[426 rows x 4 columns]

c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\users\mbasi\appdata\local\programs\python\python38\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                                           CITY 1  \
S.No.
1                                                         ADAMPUR
2                                                        AGARTALA
3                                                        AGARTALA
4                                                   AGATTI ISLAND
5                                                            AGRA
...                                                           ...
480                                                      VADODARA
481                                                    VIJAYAWADA
SUBTOTAL                                                      NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                           CITY 2  \
S.No.
1                                                           DELHI
2                                                         CHENNAI
3                                                            PUNE
4                                                           KOCHI
5                                                           DELHI
...                                                           ...
480                                                        MUMBAI
481                                                 VISAKHAPATNAM
SUBTOTAL                                                      NaN
TOTAL                                                         NaN
Note: City pair wise domestic freight and mail ...            NaN

                                                    PASSENGERS \nTO CITY 2  \
S.No.
1                                                                   2308.0
2                                                                   1536.0
3                                                                    529.0
4                                                                   2634.0
5                                                                      0.0
...                                                                    ...
480                                                                22974.0
481                                                                    0.0
SUBTOTAL                                                         6334700.0
TOTAL                                                           12649810.0
Note: City pair wise domestic freight and mail ...                     NaN

                                                    PASSENGERS \nFROM CITY 2
S.No.
1                                                                     2290.0
2                                                                     1695.0
3                                                                        0.0
4                                                                      104.0
5                                                                       68.0
...                                                                      ...
480                                                                  22523.0
481                                                                   5361.0
SUBTOTAL                                                           6315110.0
TOTAL                                                                    NaN
Note: City pair wise domestic freight and mail ...                       NaN

[484 rows x 4 columns]
                                                        CITY 1         CITY 2  \
S.No.
1                                                      ADAMPUR          DELHI
2                                                     AGARTALA      BENGALURU
3                                                     AGARTALA        CHENNAI
4                                                     AGARTALA     COIMBATORE
5                                                     AGARTALA          DELHI
...                                                        ...            ...
538                                                 VIJAYAWADA  VISAKHAPATNAM
SUB TOTAL                                                  NaN            NaN
TOTAL                                                      NaN            NaN
Note: City pair wise domestic freight and mail ...         NaN            NaN
NaN                                                        NaN            NaN

                                                   PASSENGERS \nTO CITY 2  \
S.No.
1                                                                    2606
2                                                                    4527
3                                                                    3382
4                                                                       -
5                                                                    6080
...                                                                   ...
538                                                                  3252
SUB TOTAL                                                         6514569
TOTAL                                                            12980408
Note: City pair wise domestic freight and mail ...                    NaN
NaN                                                                   NaN

                                                   PASSENGERS \nFROM CITY 2
S.No.
1                                                                      2601
2                                                                      4435
3                                                                      1729
4                                                                         2
5                                                                      6922
...                                                                     ...
538                                                                    2992
SUB TOTAL                                                           6465839
TOTAL                                                                   NaN
Note: City pair wise domestic freight and mail ...                      NaN
NaN                                                                     NaN

[542 rows x 4 columns]

PermissionError: [Errno 13] Permission denied: 'Raw_Data/~$0120.xlsx'