In [1]:
#imports
import math
import random
import pandas as pd
import numpy as np
import os
import networkx as nx

In [2]:
excel_list1 = os.listdir("Raw_Data")
excel_list = []
for i in excel_list1:
    if(i.endswith(".csv")):
        excel_list.append(i)

In [21]:
for i in excel_list:
    path = "Raw_Data/"+i
    target = path[:9] + path[11:13] + path[9:11] + path[13:]
    print(path,target)
    #!mv $path $target

Raw_Data/1018.csv Raw_Data/1810.csv
Raw_Data/0815.csv Raw_Data/1508.csv
Raw_Data/0519.csv Raw_Data/1905.csv
Raw_Data/1119.csv Raw_Data/1911.csv
Raw_Data/0117.csv Raw_Data/1701.csv
Raw_Data/0816.csv Raw_Data/1608.csv
Raw_Data/0818.csv Raw_Data/1808.csv
Raw_Data/0616.csv Raw_Data/1606.csv
Raw_Data/1215.csv Raw_Data/1512.csv
Raw_Data/0119.csv Raw_Data/1901.csv
Raw_Data/1115.csv Raw_Data/1511.csv
Raw_Data/0617.csv Raw_Data/1706.csv
Raw_Data/0515.csv Raw_Data/1505.csv
Raw_Data/1219.csv Raw_Data/1912.csv
Raw_Data/0915.csv Raw_Data/1509.csv
Raw_Data/0917.csv Raw_Data/1709.csv
Raw_Data/0219.csv Raw_Data/1902.csv
Raw_Data/0817.csv Raw_Data/1708.csv
Raw_Data/0220.csv Raw_Data/2002.csv
Raw_Data/1019.csv Raw_Data/1910.csv
Raw_Data/0116.csv Raw_Data/1601.csv
Raw_Data/0319.csv Raw_Data/1903.csv
Raw_Data/0716.csv Raw_Data/1607.csv
Raw_Data/0919.csv Raw_Data/1909.csv
Raw_Data/0718.csv Raw_Data/1807.csv
Raw_Data/0620.csv Raw_Data/2006.csv
Raw_Data/0419.csv Raw_Data/1904.csv
Raw_Data/0417.csv Raw_Data/1704.csv
Raw_Data/0217.csv Raw_Data/1702.csv
Raw_Data/0418.csv Raw_Data/1804.csv
Raw_Data/0619.csv Raw_Data/1906.csv
Raw_Data/1116.csv Raw_Data/1611.csv
Raw_Data/0118.csv Raw_Data/1801.csv
Raw_Data/0820.csv Raw_Data/2008.csv
Raw_Data/0318.csv Raw_Data/1803.csv
Raw_Data/0916.csv Raw_Data/1609.csv
Raw_Data/0517.csv Raw_Data/1705.csv
Raw_Data/0218.csv Raw_Data/1802.csv
Raw_Data/0120.csv Raw_Data/2001.csv
Raw_Data/1117.csv Raw_Data/1711.csv
Raw_Data/1015.csv Raw_Data/1510.csv
Raw_Data/0316.csv Raw_Data/1603.csv
Raw_Data/0819.csv Raw_Data/1908.csv
Raw_Data/0715.csv Raw_Data/1507.csv
Raw_Data/0520.csv Raw_Data/2005.csv
Raw_Data/0216.csv Raw_Data/1602.csv
Raw_Data/1020.csv Raw_Data/2010.csv
Raw_Data/0618.csv Raw_Data/1806.csv
Raw_Data/1216.csv Raw_Data/1612.csv
Raw_Data/0719.csv Raw_Data/1907.csv
Raw_Data/0420.csv Raw_Data/2004.csv
Raw_Data/0615.csv Raw_Data/1506.csv
Raw_Data/0320.csv Raw_Data/2003.csv
Raw_Data/1118.csv Raw_Data/1811.csv
Raw_Data/0416.csv Raw_Data/1604.csv
Raw_Data/0516.csv Raw_Data/1605.csv
Raw_Data/0720.csv Raw_Data/2007.csv
Raw_Data/0717.csv Raw_Data/1707.csv
Raw_Data/1218.csv Raw_Data/1812.csv
Raw_Data/1017.csv Raw_Data/1710.csv
Raw_Data/0518.csv Raw_Data/1805.csv
Raw_Data/1016.csv Raw_Data/1610.csv
Raw_Data/0918.csv Raw_Data/1809.csv
Raw_Data/0920.csv Raw_Data/2009.csv
Raw_Data/1217.csv Raw_Data/1712.csv
Raw_Data/0317.csv Raw_Data/1703.csv

In [17]:
graphs = []
for i in excel_list:
    path = "Raw_Data/"+i
    excel = pd.read_csv(path ,header=0, index_col=0, usecols = [0,1,2,3,4] ,names=["SNo","city1","city2","to","from"] )
        
    #print(excel)
    G = nx.DiGraph()
    print(path)
    #print(len(excel))
    for i in range(1,len(excel)+1):
        weight1 = excel["to"][i]
        weight2 = excel["from"][i]
        G.add_edge(excel["city1"][i],excel["city2"][i],weight=weight1)
        G.add_edge(excel["city2"][i],excel["city1"][i],weight=weight2)
        #print(excel["city1"][i],excel["city2"][i])
    print(excel)
    print(nx.adjacency_matrix(G).todense())
    graphs.append(G)

Raw_Data/1018.csv
             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2277   2251
2         AGARTALA        CHENNAI   4064   1791
3         AGARTALA           PUNE    405      0
4         AGARTALA  VISAKHAPATNAM    108      0
5    AGATTI ISLAND      BENGALURU   2299   2465
..             ...            ...    ...    ...
486       VADODARA         JAIPUR    781    578
487       VADODARA          KOCHI     20      0
488       VADODARA      MANGALORE    116      0
489       VADODARA         MUMBAI  23147  21970
490       VADODARA     PORT BLAIR     75      0

[490 rows x 4 columns]
[[   0 2277    0 ...    0    0    0]
 [2251    0 1921 ...    0    0    0]
 [   0 2039    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0815.csv
             city1      city2     to   from
SNo
1    AGATTI ISLAND      KOCHI    484    430
2             AGRA      DELHI      0     12
3             AGRA   VARANASI      0     76
4        AHMEDABAD  BENGALURU  12375  11730
5        AHMEDABAD     BHOPAL    859    568
..             ...        ...    ...    ...
298       VADODARA    CHENNAI    599    609
299       VADODARA      DELHI  13651  13899
300       VADODARA  HYDERABAD    444    474
301       VADODARA    KOLKATA    286      0
302       VADODARA     MUMBAI  20605  19241

[302 rows x 4 columns]
[[  0 484   0 ...   0   0   0]
 [430   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]]
Raw_Data/0519.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  1968  1776
2      AGARTALA       BAGDOGRA    10     0
3      AGARTALA      BENGALURU  4774  4129
4      AGARTALA        CHENNAI  2057  2095
5      AGARTALA     COIMBATORE     0    10
..          ...            ...   ...   ...
493    TIRUPATI     VIJAYAWADA   955  1144
494    TIRUPATI  VISAKHAPATNAM   456   479
495  TRIVANDRUM       VARANASI     4     0
496     UDAIPUR  VISAKHAPATNAM     2     0
497  VIJAYAWADA  VISAKHAPATNAM  2703  2527

[497 rows x 4 columns]
[[   0 1968    0 ...    0    0    0]
 [1776    0 3022 ...    0    0    0]
 [   0 2930    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/1119.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2600  2525
2      AGARTALA      BENGALURU  3690  2854
3      AGARTALA        CHENNAI  2280  1327
4      AGARTALA     COIMBATORE     0     3
5      AGARTALA          DELHI  5480  5399
..          ...            ...   ...   ...
528       SURAT        UDAIPUR  1126  1218
529    TIRUPATI     VIJAYAWADA   679   966
530     UDAIPUR  VISAKHAPATNAM     2     0
531    VARANASI  VISAKHAPATNAM     0   731
532  VIJAYAWADA  VISAKHAPATNAM  3054  2810

[532 rows x 4 columns]
[[   0 2600    0 ...    0    0    0]
 [2525    0 5399 ...    0    0    0]
 [   0 5480    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0117.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    664   1234
2    AGATTI ISLAND          KOCHI   1138   1084
3             AGRA          DELHI      0     49
4             AGRA      KHAJURAHO    444      0
5             AGRA       VARANASI      0   1054
..             ...            ...    ...    ...
307       VADODARA      HYDERABAD    323    413
308       VADODARA        KOLKATA   1027      0
309       VADODARA        LUCKNOW    276    197
310       VADODARA         MUMBAI  28064  26540
311     VIJAYAWADA  VISAKHAPATNAM    936    840

[311 rows x 4 columns]
[[   0  664    0 ...    0    0    0]
 [1234    0    0 ...    0    0  468]
 [   0    0    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0  445    0 ...    0    0    0]]
Raw_Data/0816.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    397    548
2         AGARTALA  VISAKHAPATNAM     11      0
3    AGATTI ISLAND          KOCHI    411    465
4        AHMEDABAD      BENGALURU  18536  18791
5        AHMEDABAD        CHENNAI  13234  13644
..             ...            ...    ...    ...
305       VADODARA      HYDERABAD    260    407
306       VADODARA        KOLKATA    890      0
307       VADODARA        LUCKNOW    197    238
308       VADODARA         MUMBAI  25810  22203
309     VIJAYAWADA  VISAKHAPATNAM   2357   2174

[309 rows x 4 columns]
[[    0   397    11 ...     0     0     0]
 [  548     0 13907 ...     0     0   709]
 [    0 13577     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   632     0 ...     0     0     0]]
Raw_Data/0818.csv
             city1          city2    to  from
SNo
1             AGRA          DELHI     0    41
2             AGRA      KHAJURAHO   185     0
3             AGRA         JAIPUR   271   245
4             AGRA       VARANASI     0   396
5    AGATTI ISLAND      BENGALURU    49    37
..             ...            ...   ...   ...
468       TIRUPATI       VARANASI   777   954
469       TIRUPATI  VISAKHAPATNAM   554   605
470     TRIVANDRUM        UDAIPUR    25     0
471     TRIVANDRUM       VARANASI    11     0
472     VIJAYAWADA  VISAKHAPATNAM  2793  2654

[472 rows x 4 columns]
[[  0   0 185 ...   0   0   0]
 [ 41   0 291 ...   0   0   0]
 [  0 126   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]]
Raw_Data/0616.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   1149   1191
2    AGATTI ISLAND          KOCHI   1119      0
3        AHMEDABAD      BENGALURU  15121  15616
4        AHMEDABAD        CHENNAI  12596  12319
5        AHMEDABAD     COIMBATORE    917      0
..             ...            ...    ...    ...
309       VADODARA      HYDERABAD    390    451
310       VADODARA        KOLKATA    928      0
311       VADODARA        LUCKNOW    312    190
312       VADODARA         MUMBAI  23588  21110
313     VIJAYAWADA  VISAKHAPATNAM   1132   2241

[313 rows x 4 columns]
[[   0 1149    0 ...    0    0    0]
 [1191    0    0 ...    0    0  619]
 [   0    0    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0  613    0 ...    0    0    0]]
Raw_Data/1215.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    689    567
2    AGATTI ISLAND      BENGALURU    146    144
3    AGATTI ISLAND          KOCHI    720    709
4             AGRA          DELHI      0     66
5             AGRA      KHAJURAHO    307      0
..             ...            ...    ...    ...
310       VADODARA          DELHI  17052  20069
311       VADODARA      HYDERABAD    876    954
312       VADODARA        KOLKATA    688      0
313       VADODARA         MUMBAI  23973  24568
314     VIJAYAWADA  VISAKHAPATNAM    532    421

[314 rows x 4 columns]
[[  0 689   0 ...   0   0   0]
 [567   0   0 ...   0   0 725]
 [  0   0   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0 742   0 ...   0   0   0]]
Raw_Data/0119.csv
             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2332   2307
2         AGARTALA        CHENNAI   1363   1637
3    AGATTI ISLAND      BENGALURU    117    127
4    AGATTI ISLAND          KOCHI   1561   1622
5             AGRA          DELHI      0     30
..             ...            ...    ...    ...
507       VADODARA         JAIPUR   1182   1147
508       VADODARA          KOCHI     24      0
509       VADODARA      MANGALORE    149      0
510       VADODARA         MUMBAI  23581  23412
511     VIJAYAWADA  VISAKHAPATNAM   2381   2251

[511 rows x 4 columns]
[[    0  2332     0 ...     0     0     0]
 [ 2307     0  1950 ...     0     0 20222]
 [    0  1634     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0 21838     0 ...     0     0     0]]
Raw_Data/1115.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    728    594
2    AGATTI ISLAND          KOCHI    860    727
3             AGRA          DELHI      0     42
4             AGRA      KHAJURAHO    270      0
5             AGRA       VARANASI      0    979
..             ...            ...    ...    ...
304       VADODARA          DELHI  17045  16939
305       VADODARA      HYDERABAD   1079    879
306       VADODARA        KOLKATA    735      0
307       VADODARA         MUMBAI  21791  22537
308     VIJAYAWADA  VISAKHAPATNAM    516    361

[308 rows x 4 columns]
[[  0 728   0 ...   0   0   0]
 [594   0   0 ...   0   0 835]
 [  0   0   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0 941   0 ...   0   0   0]]
Raw_Data/0617.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   1018    802
2         AGARTALA           PUNE     14      0
3         AGARTALA  VISAKHAPATNAM    181      0
4    AGATTI ISLAND          KOCHI    478    824
5             AGRA          DELHI      0     45
..             ...            ...    ...    ...
352       VADODARA      HYDERABAD    502    412
353       VADODARA        LUCKNOW      0    225
354       VADODARA         MUMBAI  22827  22558
355       VADODARA  VISAKHAPATNAM      0      8
356     VIJAYAWADA  VISAKHAPATNAM   2748   2724

[356 rows x 4 columns]
[[    0  1018    14 ...     0     0     0]
 [  802     0 38193 ...     0     0     0]
 [    0 39343     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/0515.csv
             city1       city2       to     from
SNo
1    AGATTI ISLAND       KOCHI    482.0    787.0
2        AHMEDABAD   BENGALURU  15846.0  13112.0
3        AHMEDABAD      BHOPAL   1020.0    720.0
4        AHMEDABAD     CHENNAI  16090.0  14762.0
5        AHMEDABAD  COIMBATORE    946.0   1204.0
..             ...         ...      ...      ...
280       VADODARA   BENGALURU    513.0      0.0
281       VADODARA     CHENNAI   1106.0   1012.0
282       VADODARA       DELHI  20610.0  17724.0
283       VADODARA   HYDERABAD    780.0    531.0
284       VADODARA      MUMBAI  21960.0  18147.0

[284 rows x 4 columns]
[[   0.  482.    0. ...    0.    0.    0.]
 [ 787.    0. 2027. ...    0.    0.    0.]
 [   0. 2495.    0. ...    0.    0.    0.]
 ...
 [   0.    0.    0. ...    0.    0.    0.]
 [   0.    0.    0. ...    0.    0.    0.]
 [   0.    0.    0. ...    0.    0.    0.]]
Raw_Data/1219.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2606  2601
2      AGARTALA      BENGALURU  4527  4435
3      AGARTALA        CHENNAI  3382  1729
4      AGARTALA     COIMBATORE     0     2
5      AGARTALA          DELHI  6080  6922
..          ...            ...   ...   ...
534       SURAT        UDAIPUR  1357  1298
535    TIRUPATI     VIJAYAWADA   756  1050
536     UDAIPUR  VISAKHAPATNAM     4     0
537    VARANASI  VISAKHAPATNAM     0   883
538  VIJAYAWADA  VISAKHAPATNAM  3252  2992

[538 rows x 4 columns]
[[   0 2606    0 ...    0    0    0]
 [2601    0 6922 ...    0    0    0]
 [   0 6080    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0915.csv
             city1      city2     to   from
SNo
1    AGATTI ISLAND  BENGALURU     44     47
2    AGATTI ISLAND      KOCHI    475    600
3             AGRA      DELHI      0      5
4             AGRA  KHAJURAHO     31      0
5             AGRA   VARANASI      0    131
..             ...        ...    ...    ...
325       VADODARA    CHENNAI    538    512
326       VADODARA      DELHI  13943  14183
327       VADODARA  HYDERABAD    476    533
328       VADODARA    KOLKATA    347      0
329       VADODARA     MUMBAI  21461  19257

[329 rows x 4 columns]
[[   0   44  475 ...    0    0    0]
 [  47    0 8910 ...    0    0    0]
 [ 600 9351    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0  523    0 ...    0    0    0]]
Raw_Data/0917.csv
             city1          city2    to  from
SNo
1             AGRA          DELHI     0    57
2             AGRA      KHAJURAHO    94     0
3             AGRA       VARANASI     0   410
4    AGATTI ISLAND          KOCHI   863   956
5           AIZAWL      AHMEDABAD    35    37
..             ...            ...   ...   ...
375     PUDUCHERRY     VIJAYAWADA     0    10
376         RAIPUR  VISAKHAPATNAM  1088     0
377       TIRUPATI     VIJAYAWADA   684   704
378     TRIVANDRUM        UDAIPUR    38    32
379     VIJAYAWADA  VISAKHAPATNAM  3164  3012

[379 rows x 4 columns]
[[  0   0  94 ...   0   0   0]
 [ 57   0 257 ...   0   0   0]
 [  0 224   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]]
Raw_Data/0219.csv

             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2072   2097
2         AGARTALA        CHENNAI    878   1590
3         AGARTALA  VISAKHAPATNAM    110      0
4    AGATTI ISLAND          KOCHI   2542      0
5             AGRA          DELHI      0     14
..             ...            ...    ...    ...
508       VADODARA        JODHPUR     49      0
509       VADODARA          KOCHI     44      0
510       VADODARA      MANGALORE    103      0
511       VADODARA         MUMBAI  20536  19243
512     VIJAYAWADA  VISAKHAPATNAM      0   5369

[512 rows x 4 columns]
[[    0  2072     0 ...     0     0     0]
 [ 2097     0  1541 ...     0     0 20649]
 [    0  1453     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0 23157     0 ...     0     0     0]]
Raw_Data/0817.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   1037   1120
2         AGARTALA           PUNE    141      0
3    AGATTI ISLAND          KOCHI    577    652
4             AGRA          DELHI      0     54
5             AGRA      KHAJURAHO     93      0
..             ...            ...    ...    ...
359       VADODARA        LUCKNOW    237    187
360       VADODARA      MANGALORE     94      0
361       VADODARA         MUMBAI  25087  21072
362       VADODARA  VISAKHAPATNAM      0      7
363     VIJAYAWADA  VISAKHAPATNAM   3263   3223

[363 rows x 4 columns]
[[    0  1037   141 ...     0     0     0]
 [ 1120     0 39344 ...     0     0   540]
 [    0 40520     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   324     0 ...     0     0     0]]
Raw_Data/0220.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2178  2190
2      AGARTALA         AIZAWL    47    36
3      AGARTALA      BENGALURU  3517  3554
4      AGARTALA        CHENNAI  1895  1191
5      AGARTALA     COIMBATORE    10     6
..          ...            ...   ...   ...
541       SURAT  VISAKHAPATNAM     0     0
542    TIRUPATI     VIJAYAWADA   623   907
543     UDAIPUR  VISAKHAPATNAM     6     0
544    VARANASI  VISAKHAPATNAM     0   137
545  VIJAYAWADA  VISAKHAPATNAM  2135  2057

[545 rows x 4 columns]
[[   0 2178    0 ...    0    0    0]
 [2190    0 5365 ...    0    0    0]
 [   0 6246    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/1019.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2322  2606
2      AGARTALA       BAGDOGRA     0   141
3      AGARTALA      BENGALURU  3948  4003
4      AGARTALA        CHENNAI  2318  1402
5      AGARTALA     COIMBATORE     0    18
..          ...            ...   ...   ...
556    TIRUPATI     VIJAYAWADA    77   106
557  TRIVANDRUM       VARANASI     9     0
558     UDAIPUR  VISAKHAPATNAM     7     0
559    VARANASI  VISAKHAPATNAM     0    88
560  VIJAYAWADA  VISAKHAPATNAM  1618  1516

[560 rows x 4 columns]
[[   0 2322    0 ...    0    0    0]
 [2606    0 6178 ...    0    0    0]
 [   0 6933    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0116.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   1142    854
2    AGATTI ISLAND      BENGALURU    182    124
3    AGATTI ISLAND          KOCHI    778    729
4             AGRA          DELHI      0     64
5             AGRA      KHAJURAHO    392      0
..             ...            ...    ...    ...
300       VADODARA          DELHI  17966  17245
301       VADODARA      HYDERABAD   1092   1056
302       VADODARA        KOLKATA    743      0
303       VADODARA         MUMBAI  23156  23137
304     VIJAYAWADA  VISAKHAPATNAM    400    272

[304 rows x 4 columns]
[[   0 1142    0 ...    0    0    0]
 [ 854    0    0 ...    0    0  979]
 [   0    0    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0 1029    0 ...    0    0    0]]
Raw_Data/0319.csv
             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2333   2303
2         AGARTALA        CHENNAI   1392   1733
3         AGARTALA         JAIPUR      0    110
4         AGARTALA  VISAKHAPATNAM    151      0
5    AGATTI ISLAND      BENGALURU     86     62
..             ...            ...    ...    ...
510       VADODARA          KOCHI     24      0
511       VADODARA      MANGALORE    109      0
512       VADODARA         MUMBAI  15634  13720
513       VADODARA     PORT BLAIR      2      0
514     VIJAYAWADA  VISAKHAPATNAM   2409   2176

[514 rows x 4 columns]
[[    0  2333     0 ...     0     0     0]
 [ 2303     0  1943 ...     0     0 18819]
 [    0  2022     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0 20650     0 ...     0     0     0]]
Raw_Data/0716.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    508    486
2    AGATTI ISLAND          KOCHI   1052      0
3        AHMEDABAD      BENGALURU  18138  17567
4        AHMEDABAD        CHENNAI  14057  13683
5        AHMEDABAD     COIMBATORE    830      0
..             ...            ...    ...    ...
304       VADODARA      HYDERABAD    315    381
305       VADODARA        KOLKATA    763      0
306       VADODARA        LUCKNOW    325    203
307       VADODARA         MUMBAI  25072  21699
308     VIJAYAWADA  VISAKHAPATNAM   1295   2498

[308 rows x 4 columns]
[[  0 508   0 ...   0   0   0]
 [486   0   0 ...   0   0 745]
 [  0   0   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0 667   0 ...   0   0   0]]
Raw_Data/0919.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2264  2145
2      AGARTALA       BAGDOGRA     0   167
3      AGARTALA      BENGALURU  2241  4120
4      AGARTALA        CHENNAI  1895  1742
5      AGARTALA     COIMBATORE     0    56
..          ...            ...   ...   ...
500    SRINAGAR        UDAIPUR    16     0
501    SRINAGAR  VISAKHAPATNAM    75     0
502       SURAT        UDAIPUR   387   370
503  TRIVANDRUM       VARANASI    10     0
504     UDAIPUR  VISAKHAPATNAM    11     0

[504 rows x 4 columns]
[[   0 2264    0 ...    0    0    0]
 [2145    0 6087 ...    0    0    0]
 [   0 5023    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0718.csv
             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2333   2205
2         AGARTALA        CHENNAI   4189   2004
3         AGARTALA           PUNE    146      0
4         AGARTALA  VISAKHAPATNAM     95      0
5    AGATTI ISLAND      BENGALURU     60     43
..             ...            ...    ...    ...
461       VADODARA      HYDERABAD    177    260
462       VADODARA          KOCHI     10      0
463       VADODARA      MANGALORE     84      0
464       VADODARA         MUMBAI  23986  22364
465     VIJAYAWADA  VISAKHAPATNAM   2735   3393

[465 rows x 4 columns]
[[   0 2333    0 ...    0    0    0]
 [2205    0 2190 ...    0    0    0]
 [   0 2512    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0620.csv
                        city1          city2    to   from
SNo
1                    AGARTALA      BENGALURU   401    390
2                    AGARTALA          DELHI   150    261
3                    AGARTALA       GUWAHATI    40   1091
4                    AGARTALA        KOLKATA  9803  12288
5                        AGRA         JAIPUR   111     90
..                        ...            ...   ...    ...
317                     SURAT     VIJAYAWADA     0      0
318                     SURAT  VISAKHAPATNAM     0      0
319                  TIRUPATI  VISAKHAPATNAM     7      0
320                TRIVANDRUM     VIJAYAWADA    26      0
321  BIDAR AIRPORT, KARNATAKA      BENGALURU   754    727

[321 rows x 4 columns]
[[    0   401   150 ...     0     0     0]
 [  390     0 25286 ...     0     0   727]
 [  261 22565     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   754     0 ...     0     0     0]]
Raw_Data/0419.csv
             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2268   2257
2         AGARTALA        CHENNAI   1932   1974
3    AGATTI ISLAND      BENGALURU     60     65
4    AGATTI ISLAND          KOCHI   1113   1298
5             AGRA          DELHI      0     40
..             ...            ...    ...    ...
486       VADODARA      MANGALORE     53      0
487       VADODARA         MUMBAI  12013  10695
488       VADODARA     PORT BLAIR    180      0
489       VADODARA          SURAT      1      0
490     VIJAYAWADA  VISAKHAPATNAM   2430   2016

[490 rows x 4 columns]
[[    0  2268     0 ...     0     0     0]
 [ 2257     0  2705 ...     0     0 16399]
 [    0  2786     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0 17902     0 ...     0     0     0]]
Raw_Data/0417.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    746    694
2         AGARTALA  VISAKHAPATNAM     95      0
3    AGATTI ISLAND          KOCHI    961   1209
4        AHMEDABAD      BENGALURU  24988  34003
5        AHMEDABAD        CHENNAI  16614  18328
..             ...            ...    ...    ...
328       VADODARA      HYDERABAD    510    145
329       VADODARA        LUCKNOW    180    174
330       VADODARA         MUMBAI  22962  20825
331     VIJAYAWADA       VARANASI    980    865
332     VIJAYAWADA  VISAKHAPATNAM    881   1578

[332 rows x 4 columns]
[[    0   746    95 ...     0     0     0]
 [  694     0 10162 ...     0     0   331]
 [    0 10002     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   320     0 ...     0     0     0]]
Raw_Data/0217.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   1021   1289
2         AGARTALA  VISAKHAPATNAM     87      0
3    AGATTI ISLAND          KOCHI    954    914
4             AGRA          DELHI      0     15
5             AGRA      KHAJURAHO    481      0
..             ...            ...    ...    ...
328       VADODARA        KOLKATA    636      0
329       VADODARA        LUCKNOW    211    219
330       VADODARA         MUMBAI  25763  22629
331     VIJAYAWADA       VARANASI    475    302
332     VIJAYAWADA  VISAKHAPATNAM    730    674

[332 rows x 4 columns]
[[    0  1021    87 ...     0     0     0]
 [ 1289     0 11871 ...     0     0   471]
 [    0 11468     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   326     0 ...     0     0     0]]
Raw_Data/0418.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   4578   2643
2         AGARTALA           PUNE    227      0
3         AGARTALA  VISAKHAPATNAM    182      3
4    AGATTI ISLAND          KOCHI   1270   1451
5             AGRA          DELHI      0     43
..             ...            ...    ...    ...
432       VADODARA      HYDERABAD    303    378
433       VADODARA          KOCHI     59      0
434       VADODARA      MANGALORE     66      0
435       VADODARA         MUMBAI  25727  23227
436     VIJAYAWADA  VISAKHAPATNAM   2871   3369

[436 rows x 4 columns]
[[    0  4578   227 ...     0     0     0]
 [ 2643     0 45258 ...     0     0     0]
 [    0 44980     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/0619.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2275  2172
2      AGARTALA      BENGALURU  2945  2710
3      AGARTALA        CHENNAI  2125  2002
4      AGARTALA     COIMBATORE     0    17
5      AGARTALA          DELHI  2669  2652
..          ...            ...   ...   ...
501    TIRUPATI     VIJAYAWADA   819   987
502    TIRUPATI  VISAKHAPATNAM   405   449
503  TRIVANDRUM       VARANASI     7     0
504     UDAIPUR  VISAKHAPATNAM     1     0
505  VIJAYAWADA  VISAKHAPATNAM  2357  2244

[505 rows x 4 columns]
[[   0 2275    0 ...    0    0    0]
 [2172    0 2652 ...    0    0    0]
 [   0 2669    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/1116.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    723   1215
2         AGARTALA  VISAKHAPATNAM     63      0
3    AGATTI ISLAND          KOCHI    777    828
4             AGRA          DELHI      0     28
5             AGRA      KHAJURAHO    313      0
..             ...            ...    ...    ...
315       VADODARA      HYDERABAD    322    383
316       VADODARA        KOLKATA    745      0
317       VADODARA        LUCKNOW    125    101
318       VADODARA         MUMBAI  23436  22643
319     VIJAYAWADA  VISAKHAPATNAM   1697   1743

[319 rows x 4 columns]
[[    0   723    63 ...     0     0     0]
 [ 1215     0 12673 ...     0     0   473]
 [    0 12375     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   329     0 ...     0     0     0]]
Raw_Data/0118.csv

             city1          city2    to  from
SNo
1             AGRA          DELHI     0    56
2             AGRA      KHAJURAHO   338     0
3             AGRA         JAIPUR   392   265
4             AGRA       VARANASI     0   965
5    AGATTI ISLAND          KOCHI  1294  1515
..             ...            ...   ...   ...
422     PUDUCHERRY     VIJAYAWADA     0    12
423         RAIPUR  VISAKHAPATNAM  1032     0
424       TIRUPATI     VIJAYAWADA   879   894
425     TRIVANDRUM        UDAIPUR    13     9
426     VIJAYAWADA  VISAKHAPATNAM  3773  3774

[426 rows x 4 columns]
[[  0   0 338 ...   0   0   0]
 [ 56   0 654 ...   0   0   0]
 [  0 892   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]]
Raw_Data/0820.csv
        city1          city2    to  from
SNo
1    AGARTALA      BENGALURU   724  1502
2    AGARTALA        CHENNAI    32    35
3    AGARTALA          DELHI  3845  3354
4    AGARTALA       GUWAHATI  1062   995
5    AGARTALA        KOLKATA  4604  7521
..        ...            ...   ...   ...
358     PATNA       VARANASI   361    73
359    RAIPUR       SRINAGAR     0     2
360    RAJKOT          SURAT    47     0
361  TIRUPATI     VIJAYAWADA     1     0
362  TIRUPATI  VISAKHAPATNAM   348     0

[362 rows x 4 columns]
[[    0   724    32 ...     0     0     0]
 [ 1502     0 15825 ...     0     0     0]
 [   35 11893     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/0318.csv
             city1          city2    to  from
SNo
1             AGRA          DELHI     0    46
2             AGRA      KHAJURAHO   332     0
3             AGRA       VARANASI     0   909
4    AGATTI ISLAND          KOCHI  1104  1205
5           AIZAWL      AHMEDABAD    28    21
..             ...            ...   ...   ...
453       TIRUPATI     VIJAYAWADA   916   936
454       TIRUPATI       VARANASI    25    29
455     TRIVANDRUM        UDAIPUR     9    29
456     TRIVANDRUM       VARANASI   179   173
457     VIJAYAWADA  VISAKHAPATNAM  3727  3652

[457 rows x 4 columns]
[[  0   0 332 ...   0   0   0]
 [ 46   0 522 ...   0   0   0]
 [  0 644   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]]
Raw_Data/0916.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    360    441
2         AGARTALA  VISAKHAPATNAM     27      0
3    AGATTI ISLAND          KOCHI    448    686
4        AHMEDABAD      BENGALURU  16998  18289
5        AHMEDABAD        CHENNAI  12454  13523
..             ...            ...    ...    ...
304       VADODARA      HYDERABAD    294    306
305       VADODARA        KOLKATA    601      0
306       VADODARA        LUCKNOW    128     98
307       VADODARA         MUMBAI  24592  20716
308     VIJAYAWADA  VISAKHAPATNAM   1505   1472

[308 rows x 4 columns]
[[    0   360    27 ...     0     0     0]
 [  441     0 12566 ...     0     0   421]
 [    0 11800     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   366     0 ...     0     0     0]]
Raw_Data/0517.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    885    766
2         AGARTALA  VISAKHAPATNAM    119      0
3    AGATTI ISLAND          KOCHI   1050   1412
4        AHMEDABAD      BENGALURU  34072  30991
5        AHMEDABAD        CHENNAI  19977  17955
..             ...            ...    ...    ...
325       VADODARA          DELHI  20465  19441
326       VADODARA      HYDERABAD    432    318
327       VADODARA        LUCKNOW      0    194
328       VADODARA         MUMBAI  26842  22553
329     VIJAYAWADA  VISAKHAPATNAM   1827   1913

[329 rows x 4 columns]
[[    0   885   119 ...     0     0     0]
 [  766     0 11050 ...     0     0   418]
 [    0 11622     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   507     0 ...     0     0     0]]
Raw_Data/0218.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   3316   4470
2         AGARTALA     PORT BLAIR      0      8
3         AGARTALA           PUNE    119      0
4         AGARTALA  VISAKHAPATNAM     46      0
5    AGATTI ISLAND          KOCHI    966   1173
..             ...            ...    ...    ...
444       VADODARA        KOLKATA    162    130
445       VADODARA        LUCKNOW      0    207
446       VADODARA      MANGALORE    134      0
447       VADODARA         MUMBAI  25184  23893
448     VIJAYAWADA  VISAKHAPATNAM   3488   3365

[448 rows x 4 columns]
[[    0  3316     0 ...     0     0     0]
 [ 4470     0 23193 ...     0     0     0]
 [    8 24019     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/0120.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2198  2248
2      AGARTALA      BENGALURU  4294  4607
3      AGARTALA        CHENNAI  2320  1373
4      AGARTALA     COIMBATORE     0     5
5      AGARTALA          DELHI  5467  5823
..          ...            ...   ...   ...
534       SURAT        UDAIPUR  1331  1176
535    TIRUPATI     VIJAYAWADA   537   886
536     UDAIPUR  VISAKHAPATNAM    15     0
537    VARANASI  VISAKHAPATNAM     0   302
538  VIJAYAWADA  VISAKHAPATNAM  2419  2196

[538 rows x 4 columns]
[[   0 2198    0 ...    0    0    0]
 [2248    0 5823 ...    0    0    0]
 [   0 5467    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/1117.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   2095   1704
2         AGARTALA           PUNE     92      0
3         AGARTALA  VISAKHAPATNAM      4      0
4    AGATTI ISLAND          KOCHI    985   1213
5             AGRA          DELHI      0     31
..             ...            ...    ...    ...
397       VADODARA        KOLKATA    118    199
398       VADODARA        LUCKNOW      0    146
399       VADODARA      MANGALORE     84      0
400       VADODARA         MUMBAI  26365  25352
401     VIJAYAWADA  VISAKHAPATNAM   3289   3217

[401 rows x 4 columns]
[[    0  2095    92 ...     0     0     0]
 [ 1704     0 39872 ...     0     0     0]
 [    0 40408     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/1015.csv
             city1      city2     to   from
SNo
1         AGARTALA    CHENNAI    304    303
2    AGATTI ISLAND      KOCHI    607    688
3             AGRA      DELHI      0  12790
4             AGRA  KHAJURAHO   2168      0
5             AGRA   VARANASI      0  41520
..             ...        ...    ...    ...
310       VADODARA    CHENNAI    816    861
311       VADODARA      DELHI  13124  14117
312       VADODARA  HYDERABAD    863    519
313       VADODARA    KOLKATA    523      0
314       VADODARA     MUMBAI  19385  18809

[314 rows x 4 columns]
[[  0 304   0 ...   0   0   0]
 [303   0   0 ...   0   0 861]
 [  0   0   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0 816   0 ...   0   0   0]]
Raw_Data/0316.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    774    193
2    AGATTI ISLAND      BENGALURU     77     83
3    AGATTI ISLAND          KOCHI    851    803
4             AGRA          DELHI      0     54
5             AGRA      KHAJURAHO    269      0
..             ...            ...    ...    ...
314       VADODARA          DELHI  17230  17556
315       VADODARA      HYDERABAD    698    647
316       VADODARA        KOLKATA    626      0
317       VADODARA         MUMBAI  22346  19514
318     VIJAYAWADA  VISAKHAPATNAM    409    328

[318 rows x 4 columns]
[[  0 774   0 ...   0   0   0]
 [193   0   0 ...   0   0 635]
 [  0   0   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0 742   0 ...   0   0   0]]
Raw_Data/0819.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2343  2296
2      AGARTALA       BAGDOGRA     0   186
3      AGARTALA      BENGALURU  3710  3754
4      AGARTALA        CHENNAI  3401  2668
5      AGARTALA     COIMBATORE     0    13
..          ...            ...   ...   ...
482      RAIPUR  VISAKHAPATNAM   619     0
483    SRINAGAR        UDAIPUR    60     0
484    SRINAGAR  VISAKHAPATNAM   200     0
485       SURAT        UDAIPUR   424   365
486  TRIVANDRUM       VARANASI     2     0

[486 rows x 4 columns]
[[   0 2343    0 ...    0    0    0]
 [2296    0 3835 ...    0    0    0]
 [   0 4657    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0715.csv
             city1      city2     to   from
SNo
1    AGATTI ISLAND      KOCHI    375    524
2             AGRA  KHAJURAHO      6      0
3             AGRA   VARANASI      0     31
4        AHMEDABAD  BENGALURU  12967  12590
5        AHMEDABAD     BHOPAL    916    572
..             ...        ...    ...    ...
295       VADODARA    CHENNAI    625    784
296       VADODARA      DELHI  13880  13643
297       VADODARA  HYDERABAD    373    423
298       VADODARA    KOLKATA    353      0
299       VADODARA     MUMBAI  19223  18181

[299 rows x 4 columns]
[[  0 375   0 ...   0   0   0]
 [524   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]]
Raw_Data/0520.csv
                        city1          city2   to  from
SNo
1                     ADAMPUR          DELHI   59    45
2                    AGARTALA       GUWAHATI    0     0
3                    AGARTALA        KOLKATA  486   494
4                   AHMEDABAD          AJMER   34    16
5                   AHMEDABAD        BELGAUM   20     9
..                        ...            ...  ...   ...
226                    RAIPUR       SRINAGAR   16     0
227                     SURAT     VIJAYAWADA    0     0
228                     SURAT  VISAKHAPATNAM    0     0
229                VIJAYAWADA  VISAKHAPATNAM    0     0
230  BIDAR AIRPORT, KARNATAKA      BENGALURU   91    68

[230 rows x 4 columns]
[[ 0 59  0 ...  0  0  0]
 [45  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 ...
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]]
Raw_Data/0216.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    849   1124
2    AGATTI ISLAND      BENGALURU    116     79
3    AGATTI ISLAND          KOCHI    754    716
4             AGRA          DELHI      0     52
5             AGRA      KHAJURAHO    426      0
..             ...            ...    ...    ...
305       VADODARA          DELHI  16544  16504
306       VADODARA      HYDERABAD    793    733
307       VADODARA        KOLKATA    723      0
308       VADODARA         MUMBAI  23505  20608
309     VIJAYAWADA  VISAKHAPATNAM    467    404

[309 rows x 4 columns]
[[   0  849    0 ...    0    0    0]
 [1124    0    0 ...    0    0  717]
 [   0    0    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0  698    0 ...    0    0    0]]
Raw_Data/1020.csv
          city1          city2    to  from
SNo
1      AGARTALA      BENGALURU  4163  2780
2      AGARTALA        CHENNAI   390   359
3      AGARTALA          DELHI  3212  3309
4      AGARTALA       GUWAHATI  2351  1894
5      AGARTALA         IMPHAL  1290  1464
..          ...            ...   ...   ...
426       PATNA         RAIPUR     0   475
427       PATNA       VARANASI   942   699
428      RAIPUR       SRINAGAR     0     3
429    TIRUPATI  VISAKHAPATNAM   786   815
430  VIJAYAWADA  VISAKHAPATNAM     0    12

[430 rows x 4 columns]
[[    0  4163   390 ...     0     0     0]
 [ 2780     0 22957 ...     0     0     0]
 [  359 21523     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/0618.csv
             city1          city2    to  from
SNo
1             AGRA          DELHI     0    67
2             AGRA      KHAJURAHO   162     0
3             AGRA       VARANASI     0   427
4    AGATTI ISLAND      BENGALURU    33    60
5    AGATTI ISLAND          KOCHI   502   785
..             ...            ...   ...   ...
462       TIRUPATI       VARANASI   356   317
463       TIRUPATI  VISAKHAPATNAM   360   477
464     TRIVANDRUM        UDAIPUR   152     0
465     TRIVANDRUM       VARANASI    21     0
466     VIJAYAWADA  VISAKHAPATNAM  3086  2955

[466 rows x 4 columns]
[[  0   0 162 ...   0   0   0]
 [ 67   0 294 ...   0   0   0]
 [  0 431   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]]
Raw_Data/1216.csv

             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    967    996
2         AGARTALA  VISAKHAPATNAM     69      0
3    AGATTI ISLAND          KOCHI   1020   1128
4             AGRA          DELHI      0     41
5             AGRA      KHAJURAHO    275      0
..             ...            ...    ...    ...
313       VADODARA      HYDERABAD    267    401
314       VADODARA        KOLKATA    717      0
315       VADODARA        LUCKNOW    151    289
316       VADODARA         MUMBAI  27946  25941
317     VIJAYAWADA  VISAKHAPATNAM   1730   1526

[317 rows x 4 columns]
[[    0   967    69 ...     0     0     0]
 [  996     0 13487 ...     0     0   505]
 [    0 12337     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   420     0 ...     0     0     0]]
Raw_Data/0719.csv
          city1          city2    to  from
SNo
1       ADAMPUR          DELHI  2048  2088
2      AGARTALA       BAGDOGRA     0     9
3      AGARTALA      BENGALURU  3205  3313
4      AGARTALA        CHENNAI  2266  1555
5      AGARTALA     COIMBATORE     0    18
..          ...            ...   ...   ...
494    TIRUPATI     VIJAYAWADA   627   664
495    TIRUPATI  VISAKHAPATNAM   224   285
496  TRIVANDRUM       VARANASI     1     0
497     UDAIPUR  VISAKHAPATNAM     2     0
498  VIJAYAWADA  VISAKHAPATNAM  1374  1393

[498 rows x 4 columns]
[[   0 2048    0 ...    0    0    0]
 [2088    0 1214 ...    0    0    0]
 [   0 2021    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0420.csv
         city1      city2  to  from
SNo
1    BENGALURU    CHENNAI   0     0
2    BENGALURU      DELHI   0     0
3    BENGALURU     MUMBAI   0     0
4      CHENNAI  HYDERABAD   0     0
5        DELHI    KOLKATA   0     0
6        DELHI     MUMBAI   0     0
[[0 0 0 0 0 0]
 [0 0 0 0 0 0]
 [0 0 0 0 0 0]
 [0 0 0 0 0 0]
 [0 0 0 0 0 0]
 [0 0 0 0 0 0]]
Raw_Data/0615.csv
             city1       city2     to     from
SNo
1    AGATTI ISLAND       KOCHI    506    750.0
2        AHMEDABAD   BENGALURU  13007  12170.0
3        AHMEDABAD      BHOPAL    875    712.0
4        AHMEDABAD     CHENNAI  13855  12988.0
5        AHMEDABAD  COIMBATORE    790   1245.0
..             ...         ...    ...      ...
283       VADODARA     CHENNAI    670    684.0
284       VADODARA       DELHI  14441  16322.0
285       VADODARA   HYDERABAD    560    485.0
286       VADODARA     KOLKATA    388      0.0
287       VADODARA      MUMBAI  17683  17306.0

[287 rows x 4 columns]
[[   0.  506.    0. ...    0.    0.    0.]
 [ 750.    0. 1346. ...    0.    0.    0.]
 [   0.  800.    0. ...    0.    0.    0.]
 ...
 [   0.    0.    0. ...    0.    0.    0.]
 [   0.    0.    0. ...    0.    0.    0.]
 [   0.    0.    0. ...    0.    0.    0.]]
Raw_Data/0320.csv
                        city1          city2    to  from
SNo
1                     ADAMPUR          DELHI  1170  1144
2                    AGARTALA         AIZAWL  1204   690
3                    AGARTALA      BENGALURU  1972  3547
4                    AGARTALA        CHENNAI  1244  1121
5                    AGARTALA     COIMBATORE    13     3
..                        ...            ...   ...   ...
548                     SURAT  VISAKHAPATNAM     0     0
549                  TIRUPATI     VIJAYAWADA   464   604
550                   UDAIPUR  VISAKHAPATNAM     8     0
551                VIJAYAWADA  VISAKHAPATNAM  1368  1259
552  BIDAR AIRPORT, KARNATAKA      BENGALURU  1266  1287

[552 rows x 4 columns]
[[   0 1170    0 ...    0    0    0]
 [1144    0 5448 ...    0    0    0]
 [   0 4230    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/1118.csv
             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2289   2319
2         AGARTALA        CHENNAI   1586   1343
3         AGARTALA         NAGPUR     40      0
4         AGARTALA           PUNE    239      0
5    AGATTI ISLAND          KOCHI   2510     42
..             ...            ...    ...    ...
473       VADODARA         JAIPUR   1009   1011
474       VADODARA          KOCHI     35      0
475       VADODARA      MANGALORE    230      0
476       VADODARA         MUMBAI  21528  20802
477     VIJAYAWADA  VISAKHAPATNAM      0   5126

[477 rows x 4 columns]
[[   0 2289    0 ...    0    0    0]
 [2319    0 1987 ...    0    0    0]
 [   0 1229    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0416.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    521    974
2         AGARTALA        SILCHAR      2      0
3    AGATTI ISLAND          KOCHI   1623      0
4             AGRA          DELHI      0     54
5             AGRA      KHAJURAHO    189      0
..             ...            ...    ...    ...
313       VADODARA      HYDERABAD    499      0
314       VADODARA        KOLKATA   1021      0
315       VADODARA        LUCKNOW    121     69
316       VADODARA         MUMBAI  22784  21090
317     VIJAYAWADA  VISAKHAPATNAM    204   1699

[317 rows x 4 columns]
[[  0 521   2 ...   0   0   0]
 [974   0   0 ...   0   0 661]
 [  0   0   0 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0 489 ...   0   0   0]
 [  0 760   0 ...   0   0   0]]
Raw_Data/0516.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   1017   1347
2    AGATTI ISLAND          KOCHI   1426      0
3             AGRA          DELHI      0      2
4             AGRA      KHAJURAHO      7      0
5             AGRA       VARANASI      0    106
..             ...            ...    ...    ...
310       VADODARA      HYDERABAD    548    374
311       VADODARA        KOLKATA   1124      0
312       VADODARA        LUCKNOW    379    224
313       VADODARA         MUMBAI  26257  22831
314     VIJAYAWADA  VISAKHAPATNAM   1294   2801

[314 rows x 4 columns]
[[   0 1017    0 ...    0    0    0]
 [1347    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0720.csv
        city1          city2    to  from
SNo
1    AGARTALA      BENGALURU   532  1512
2    AGARTALA          DELHI  2726  3876
3    AGARTALA       GUWAHATI   903   930
4    AGARTALA        KOLKATA  5351  6362
5        AGRA         JAIPUR    67    42
..        ...            ...   ...   ...
323     NASIK           PUNE   516   270
324     PATNA         RANCHI    35     0
325     PATNA       VARANASI     7     1
326    RAJKOT          SURAT    11     0
327  TIRUPATI  VISAKHAPATNAM   130     0

[327 rows x 4 columns]
[[    0   532  2726 ...     0     0     0]
 [ 1512     0 27936 ...     0     0     0]
 [ 3876 19506     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/0717.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   1185   1073
2         AGARTALA           PUNE    125      0
3         AGARTALA  VISAKHAPATNAM     58      0
4    AGATTI ISLAND          KOCHI    590    604
5             AGRA          DELHI      0     94
..             ...            ...    ...    ...
363       VADODARA        LUCKNOW    399    286
364       VADODARA      MANGALORE     74      0
365       VADODARA         MUMBAI  25035  21401
366       VADODARA  VISAKHAPATNAM      0     12
367     VIJAYAWADA  VISAKHAPATNAM   2633   2660

[367 rows x 4 columns]
[[    0  1185   125 ...     0     0     0]
 [ 1073     0 39393 ...     0     0   561]
 [    0 41607     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   514     0 ...     0     0     0]]
Raw_Data/1218.csv
             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2308   2290
2         AGARTALA        CHENNAI   1536   1695
3         AGARTALA           PUNE    529      0
4    AGATTI ISLAND          KOCHI   2634    104
5             AGRA          DELHI      0     68
..             ...            ...    ...    ...
477       VADODARA         JAIPUR   1116   1045
478       VADODARA          KOCHI     23      0
479       VADODARA      MANGALORE     83      0
480       VADODARA         MUMBAI  22974  22523
481     VIJAYAWADA  VISAKHAPATNAM      0   5361

[481 rows x 4 columns]
[[   0 2308    0 ...    0    0    0]
 [2290    0 1813 ...    0    0    0]
 [   0 2031    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/1017.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   1260   1068
2         AGARTALA           PUNE    136      0
3         AGARTALA  VISAKHAPATNAM     91      0
4    AGATTI ISLAND          KOCHI   1035   1167
5             AGRA          DELHI      0     55
..             ...            ...    ...    ...
397       VADODARA        KOLKATA      3     13
398       VADODARA        LUCKNOW      0    131
399       VADODARA      MANGALORE    163      0
400       VADODARA         MUMBAI  25817  22962
401     VIJAYAWADA  VISAKHAPATNAM   3253   3258

[401 rows x 4 columns]
[[    0  1260   136 ...     0     0     0]
 [ 1068     0 37104 ...     0     0     0]
 [    0 41210     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/0518.csv
          city1          city2     to   from
SNo
1       ADAMPUR          DELHI   2258   2190
2      AGARTALA        CHENNAI   4971   2452
3      AGARTALA           PUNE    165      0
4      AGARTALA       SHILLONG     43     27
5      AGARTALA  VISAKHAPATNAM    198      2
..          ...            ...    ...    ...
453    VADODARA      HYDERABAD    276    242
454    VADODARA          KOCHI     46      0
455    VADODARA      MANGALORE    141      0
456    VADODARA         MUMBAI  27042  20888
457  VIJAYAWADA  VISAKHAPATNAM   3090   2891

[457 rows x 4 columns]
[[   0 2258    0 ...    0    0    0]
 [2190    0 2524 ...    0    0    0]
 [   0 2018    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/1016.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    384    809
2         AGARTALA  VISAKHAPATNAM     39      0
3    AGATTI ISLAND          KOCHI   1473      0
4             AGRA          DELHI      0     66
5             AGRA      KHAJURAHO    254      0
..             ...            ...    ...    ...
314       VADODARA      HYDERABAD    376    351
315       VADODARA        KOLKATA    637      0
316       VADODARA        LUCKNOW    179    105
317       VADODARA         MUMBAI  22907  19990
318     VIJAYAWADA  VISAKHAPATNAM    888   2554

[318 rows x 4 columns]
[[    0   384    39 ...     0     0     0]
 [  809     0 14604 ...     0     0   509]
 [    0 13131     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   663     0 ...     0     0     0]]
Raw_Data/0918.csv
             city1          city2     to   from
SNo
1          ADAMPUR          DELHI   2237   2164
2         AGARTALA        CHENNAI   2826   1769
3         AGARTALA           PUNE    192      0
4         AGARTALA  VISAKHAPATNAM     92      0
5    AGATTI ISLAND      BENGALURU     54     28
..             ...            ...    ...    ...
475       VADODARA      MANGALORE     95      0
476       VADODARA         MUMBAI  24676  21300
477       VADODARA     PORT BLAIR      4      0
478       VADODARA          SURAT      5      0
479     VIJAYAWADA  VISAKHAPATNAM   2545   2413

[479 rows x 4 columns]
[[   0 2237    0 ...    0    0    0]
 [2164    0 2256 ...    0    0    0]
 [   0 2167    0 ...    0    0    0]
 ...
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]
 [   0    0    0 ...    0    0    0]]
Raw_Data/0920.csv

          city1          city2    to  from
SNo
1      AGARTALA      BENGALURU  2372  1782
2      AGARTALA        CHENNAI   333   265
3      AGARTALA          DELHI  3738  3337
4      AGARTALA       GUWAHATI  1361   947
5      AGARTALA         IMPHAL   209   182
..          ...            ...   ...   ...
406      RAIPUR       SRINAGAR     0     3
407      RAIPUR  VISAKHAPATNAM     0     2
408      RAJKOT          SURAT    26     0
409    TIRUPATI  VISAKHAPATNAM   506   453
410  VIJAYAWADA  VISAKHAPATNAM    18    19

[410 rows x 4 columns]
[[    0  2372   333 ...     0     0     0]
 [ 1782     0 15638 ...     0     0     0]
 [  265 15866     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/1217.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI   2044   1839
2         AGARTALA           PUNE    199      0
3    AGATTI ISLAND          KOCHI    910   1072
4             AGRA          DELHI      0     31
5             AGRA         JAIPUR    475    341
..             ...            ...    ...    ...
420       VADODARA        KOLKATA    286    184
421       VADODARA        LUCKNOW      0    105
422       VADODARA      MANGALORE     70      0
423       VADODARA         MUMBAI  26138  25103
424     VIJAYAWADA  VISAKHAPATNAM   3503   3402

[424 rows x 4 columns]
[[    0  2044   199 ...     0     0     0]
 [ 1839     0 42466 ...     0     0     0]
 [    0 42740     0 ...     0    46     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0    61 ...     0     0     0]
 [    0     0     0 ...     0     0     0]]
Raw_Data/0317.csv
             city1          city2     to   from
SNo
1         AGARTALA        CHENNAI    871    998
2         AGARTALA  VISAKHAPATNAM     78      0
3    AGATTI ISLAND      BENGALURU      0     17
4    AGATTI ISLAND          KOCHI    898    928
5             AGRA          DELHI      0      9
..             ...            ...    ...    ...
341       VADODARA        KOLKATA    407      0
342       VADODARA        LUCKNOW    208    147
343       VADODARA         MUMBAI  25236  20912
344     VIJAYAWADA       VARANASI   1075    980
345     VIJAYAWADA  VISAKHAPATNAM    836    674

[345 rows x 4 columns]
[[    0   871    78 ...     0     0     0]
 [  998     0 12134 ...     0     0   402]
 [    0 11574     0 ...     0     0     0]
 ...
 [    0     0     0 ...     0     0     0]
 [    0     0     0 ...     0     0     0]
 [    0   352     0 ...     0     0     0]]